<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2><%= _("Edit Profile") %></h2>
      <ul class="nav nav-pills">
        <li role="presentation" class="active">
          <a href="#personal_info" aria-controls="personal_info" role="tab" data-toggle="tab"><%= _("Personal info") %></a>
        </li>
        <li role="presentation">
          <a href="#login_info" aria-controls="login_info" role="tab" data-toggle="tab"><%= _("Login info") %></a>
        </li>
      </ul>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, wrapper: :vertical_input_group,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :vertical_boolean
        }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="personal_info">
              <h3><%= _("Personal info") %></h3>

              <%= f.input :first_name %>
              <%= f.input :last_name %>

              <%= f.input :birthdate, class: 'input-group date', wrapper: :vertical_input_group do %>
                <%= f.input_field :birthdate, as: :string, class: 'form-control' %>
                <span class="input-group-addon"><%= fa_icon 'calendar' %></span>
              <% end %>

              <%= f.input :bio %>
              <%= f.input :phone %>
              <%= f.input :location %>
              <%= f.input :image %>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="login_info">
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>

              <%# This avoids showing the change password fields for this user if he/she signed up with FB %>
              <% unless resource.uid && resource.provider %>
                <h3><%= _("Login info") %></h3>

                <%= f.input :email, required: true, autofocus: true %>
                <h4><%= _("Change Password") %></h4>
                <%= f.input :current_password, hint: _("we need your current password to confirm your changes"), required: true %>
                <%= f.input :password, autocomplete: "off", hint: _("leave it blank if you don't want to change it"), required: false %>
                <%= f.input :password_confirmation, required: false %>
              <% else %>
                <%= _("You created this account using your Facebook credentials.") %>
                <br>
                <%= _("Enter your Facebook account to change your email and password.") %>
              <% end %>

              <h3><%= _("Delete my account") %></h3>

              <p class="alert alert-danger" role="alert">
                Unhappy? <%= link_to _("Cancel my account"), registration_path(resource_name), data: { confirm: _("Are you really sure?") }, class: 'alert-link', method: :delete %></p>

              <%= link_to _("Back"), :back %>
            </div>
          </div>          
        </div>

        <div class="form-actions">
          <%= f.button :submit, _("Update"), class: 'btn btn-lg btn-success pull-right' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
