<% title s_("Title|Edit Profile") %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, wrapper: :vertical_input_group,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :vertical_boolean
        }) do |f| %>
        <h2><%= _("Edit Profile") %><%= f.button :submit, _("Update"), class: 'btn btn-lg btn-success pull-right' %></h2>
        <ul class="nav nav-pills">
          <li role="presentation" class="active">
            <a href="#personal_info" aria-controls="personal_info" role="tab" data-toggle="tab"><%= fa_icon 'user', text: _("Personal info") %></a>
          </li>
          <li role="presentation">
            <a href="#login_info" aria-controls="login_info" role="tab" data-toggle="tab"><%= fa_icon 'lock', text: _("Login info") %></a>
          </li>
        </ul>
        <p><%= f.error_notification %></p>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="personal_info">
            <h3><%= _("Personal info") %></h3>

            <%= f.input :first_name %>
            <%= f.input :last_name %>

            <%= f.input :birthdate, class: 'input-group date', wrapper: :vertical_input_group do %>
              <%= f.input_field :birthdate, as: :string, class: 'form-control' %>
              <span class="input-group-addon"><%= fa_icon 'calendar' %></span>
            <% end %>
            <%= f.input :bio, placeholder: _("Tell us something about you, and how much you love your boat!") %>
            <%= f.input :phone, placeholder: _("e.g. +39 012 3456789") %>
            <%= f.input :location, label: _("Address"), placeholder: _("e.g. 200 E Main St Phoenix AZ 85123 USA") %>

            <%= f.label _("Profile picture") %>
            <div class="row">
              <div class="col-sm-2 avatar-preview" id="avatar-preview">
                <%= image_tag resource.image.url(:thumb) %>
              </div>
              <div class="col-sm-10">
                <span class="btn btn-primary btn-file">
                  <%= _("Change avatar") %>&hellip; <%= f.input_field :image, as: :file, label: false, wrapper: false %>
                </span>
                <%= f.error :image, style: 'color: red' %>
                <%#= f.input :image %>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade in" id="login_info">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%# This avoids showing the change password fields for this user if he/she signed up with FB %>
            <% unless resource.uid && resource.provider %>
              <h3><%= _("Login info") %></h3>

              <%= f.input :email, required: true, autofocus: true %>
              <h4><%= _("Change Password") %></h4>
              <%= f.input :current_password, label: _("Current password"), hint: _("we need your current password to confirm your changes"), required: true %>
              <%= f.input :password, autocomplete: "off", hint: _("leave it blank if you don't want to change it"), required: false %>
              <%= f.input :password_confirmation, label: _("Confirm password"), required: false %>
            <% else %>
              <%= _("You created this account using your Facebook credentials.") %>
              <br>
              <%= _("Enter your Facebook account to change your email and password.") %>
            <% end %>

            <h3><%= _("Delete my account") %></h3>
            <% if resource.boats.any? %>
              <p class="alert alert-danger" role="alert">
                <%= _("Please delete all your boats before leaving Sea for All") %>
              </p>
            <% end %>
            <% if resource.bookings.pending.any? %>
              <p class="alert alert-danger" role="alert">
                <%= _("Please cancel all your pending bookings before leaving Sea for All") %>
              </p>
            <% end %>
            <% unless resource.bookings.pending.any? || resource.boats.any? %>
              <p class="alert alert-danger" role="alert">
                <%= _('Unhappy?') %> <%= link_to _("Cancel my account"), registration_path(resource_name), data: { confirm: _("Are you really sure?") }, class: 'alert-link', method: :delete %>
              </p>
            <% else %>
            <% end %>
            <%= link_to _("Back"), :back %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :scripts do %>
<script type="text/javascript">
  $(document).ready(function() {
    $('input#user_image').on('change', function(){
      if (this.files && this.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#avatar-preview img')
            .attr('src', e.target.result)
            .height(50);
            // .width(50)
        };

        reader.readAsDataURL(this.files[0]);
      }
    });


    $('#user_birthdate').datetimepicker({
      locale: '<%= I18n.locale %>',
      format: 'YYYY-MM-DD',
      extraFormats: [ 'LL' ],
      useCurrent: <%= resource.birthdate.blank? %>,
      defaultDate: moment().subtract(16, 'years').subtract(1, 'days'),
      maxDate: moment().subtract(16, 'years').subtract(1, 'days')
    });

  });
</script>
<% end %>