<%= f.error_notification %>

<%# f.association :boat %>

<div class="row">
    <div class="col-sm-4">
		<%= f.input :outboard_engine %>
	</div>
	<div class="col-sm-4">
	    <%= f.input :inboard_engine %>
	</div>
	<div class="col-sm-4">
		<%= f.input :depth_finder %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<%= f.input :vhf %>
	</div>
	<div class="col-sm-4">
	    <%= f.input :speed_instrumentation_radar %>
	</div>
	<div class="col-sm-4">
	    <%= f.input :sonar %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
	    <%= f.input :autopilot %>
	</div>
	<div class="col-sm-4">
	    <%= f.input :anchor %>
	</div>
	<div class="col-sm-4">
	    <%= f.input :anchor_windlass %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
	    <%= f.input :boarding_ladder %>
	</div>
	<div class="col-sm-4">
	    <%= f.input :shower %>
	</div>
	<div class="col-sm-4">
			<%= f.input :wc %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
			<%= f.input :radio_stereo_cd_mp3 %>
	</div>
	<div class="col-sm-4">
			<%= f.input :tv %>
	</div>
	<div class="col-sm-4">
			<%= f.input :cabin_cruiser_bed %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
			<%= f.input :galley %>
	</div>
	<div class="col-sm-4">
			<%= f.input :sink %>
	</div>
	<div class="col-sm-4">
			<%= f.input :cooler %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
			<%= f.input :liferaft %>
	</div>
	<div class="col-sm-4">
			<%= f.input :trolling_motor %>
	</div>
	<div class="col-sm-4">
			<%= f.input :bimini_top %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
			<%= f.input :sunbathing_area %>
	</div>
	<div class="col-sm-4">
			<%= f.input :sport_fishing_equipment %>
	</div>
	<div class="col-sm-4">
			<%= f.input :safety_equipment %>
	</div>
</div>

<% content_for :scripts do %>
    <script type="text/javascript">
        var toggleInBoardEngine = function() {
          if ($('#boat_boat_features_set_attributes_outboard_engine').is(':checked') && $("#boat_boat_features_set_attributes_inboard_engine").is(':checked')) {
            $("#boat_boat_features_set_attributes_inboard_engine").prop("checked", false);
          }
        }
        var toggleOutBoardEngine = function() {
          if ($('#boat_boat_features_set_attributes_outboard_engine').is(':checked') && $("#boat_boat_features_set_attributes_inboard_engine").is(':checked')) {
            $("#boat_boat_features_set_attributes_outboard_engine").prop("checked", false);
          }
        }
        $(document).ready(function () {
            $("#boat_boat_features_set_attributes_outboard_engine").change(toggleInBoardEngine);
            $("#boat_boat_features_set_attributes_inboard_engine").change(toggleOutBoardEngine);
        });
    </script>
<% end %>
