<% content_for :title, s_("MailTitleBookingCanceled|Booking canceled for %{boat_name}") %{boat_name: @boat.name} %>
<% content_for :logo_img, @receiver == @guest ? "orange" : "blue" %>
<% if @receiver == @canceler %>
	<p>
		<%= s_("MailBodyBookingCanceled|You have canceled a booking for %{boat_name}") %{host_name: @host.name, boat_name: @boat.name} %>.
	</p>
<% else %>
	<% if @canceler.present? %>
		<p>
			<%= s_("MailBodyBookingCanceled|%{canceler_name} has canceled one of the bookings for %{boat_name}") %{canceler_name: @canceler.name, boat_name: @boat.name} %>.
		</p>
	<% else %>
		<p>
			<%= s_("MailBodyBookingCanceled|One of your bookings for %{boat_name} has been canceled") %{boat_name: @boat.name} %>.
		</p>
	<% end %>
<% end %>

<%= render 'shared/booking_table' %>
<p>
	<%= s_("MailBodyBookingCanceled|Take a look to the booking to see the reason of canceling") %>
</p>

<h1 class="read-message-btn">
  <%#= NOTE: the usual url boat_booking_url(@boat, @booking) doesn't work here %>
  <%= link_to s_("MailBodyCallToAction|Go to the booking"), boat_booking_url(boat_id: @boat.id, id: @booking.id) %>
</h1>