<% content_for :title, s_("MailTitleBookingAccepted|Booking accepted for %{boat_name}") %{boat_name: @boat.name} %>
<% content_for :logo_img, @receiver == @guest ? "orange" : "blue" %>
<% if @receiver == @guest %>
 	<%# Guest %>
	<p>
		<%= s_("MailBodyBookingAccepted|%{host_name} has accepted your booking for %{boat_name}") %{host_name: @host.name, boat_name: @boat.name} %>
	</p>
	<p>
	  <%= (s_("MailBodyBookingAccepted|Review the details of the booking, get in touch with %{host_name} and enjoy the boat trip!") %{host_name: @host.name}).html_safe %>
	</p>
<% else %>
	<%# Host %>	
	<p>
		<%= s_("MailBodyBookingAccepted|You have accepted a booking for %{boat_name}") %{boat_name: @boat.name} %>
	</p>
	<p>
	  <%= (s_("MailBodyBookingAccepted|Review the details of the booking, get in touch with %{guest_name} and make the experience on your boat unforgettable!") %{guest_name: @guest.name}).html_safe %>
	</p>
<% end %>

<%= render 'shared/booking_table' %>

<h1 class="read-message-btn">
  <%#= NOTE: the usual url boat_booking_url(@boat, @booking) doesn't work here %>
  <%= link_to s_("MailBodyBookingAccepted|Go to the booking"), boat_booking_url(boat_id: @boat.id, id: @booking.id) %>
</h1>