<% bookings.each do |booking| %>
  <% other_user = other_user_for(booking) %>
  <%= link_to boat_booking_path(booking.boat, booking), class: "list-group-item #{booking.aasm_state}" do %> 
    <div class="row">
      <div class="col-sm-1 hidden-xs">
        <% if current_user == booking.boat.user %>
          <%= image_tag other_user.image.url(:thumb), class: 'chat-user-avatar' %>
        <% else %>
          <div style="background: url(<%= booking.boat.pictures.first.image.url(:thumb)%>) no-repeat center; height: 45px; width: 45px; border-radius: 50%;"></div>
        <% end %>
      </div>
      <div class="col-sm-7">
        <h4 class="list-group-item-heading"><%= other_user.name %></h4>
        <p class="list-group-item-text">
          <%= booking.title %>
        </p>            
      </div>
      <div class="col-sm-2 hidden-xs">
        <h3><%= fa_icon 'users', text: booking.people_on_board %> </h3>
      </div>
      <div class="col-sm-2 hidden-xs">
        <h3><%= booking.total_price %> €</h3>
      </div>
    </div>
  <% end %>
<% end %>