<h2><%= _("Book") %></h2>

<%= simple_form_for([@boat, @booking]) do |f| %>
  <% if @booking.errors[:base].any? %>
    <p class="alert alert-danger"><%= @booking.errors[:base].join(', ') %></p>
  <% end %>

  <div class="form-inputs">
    <%= f.association :user, as: :hidden %>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :start_time, class: 'input-group date', wrapper: :vertical_input_group do %>
          <%= f.input_field :start_time, as: :string, class: 'form-control' %>
          <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span> -->
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= f.input :end_time, input_html: { class: 'input-group date' }, wrapper: :vertical_input_group do %>
          <%= f.input_field :end_time, as: :string, class: 'form-control' %>
          <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span> -->
        <% end %>
      </div>
    </div>

    <%= f.input :people_on_board %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, _('Book'), class: 'btn btn-block btn-lg btn-success' %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $('form#new_booking').bookingForm(<%= @boat.days.where('date >= ? AND booking_id IS NULL', DateTime.now).order('date ASC').to_json.html_safe %>);
});
</script>