<h2><%= _("Book") %></h2>

<%= simple_form_for([@boat, @booking]) do |f| %>
  <% if @booking.errors[:base].any? %>
    <p class="alert alert-danger"><%= @booking.errors[:base].join(', ') %></p>
  <% end %>

  <div class="form-inputs">
    <%= f.association :user, as: :hidden %>

    <%#= f.h %>

    <div class="row">
      <div class="col-sm-12">
        <div id="start_time-picker" class="booking-date-picker">
          <p>
            <%= link_to '#', id: 'start_time-link' do %>
              <span class="booking-date-picker-label"><%= _('Select a start date') %></span>
              <%= fa_icon 'chevron-right rotate-90', class: 'chevron-expand pull-right' %>
            <% end %>
          </p>
        </div>

        <div id="end_time-picker" class="booking-date-picker">
          <p>
            <%= link_to '#', id: 'end_time-link' do %>
              <span class="booking-date-picker-label"><%= _('Select an end date') %></span>
              <%= fa_icon 'chevron-right', class: 'chevron-expand pull-right' %>
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <%= f.label :people_on_board %>
    <%= f.input :people_on_board, as: :range, label: false, input_html: {data: {'slider-min': 1, 'slider-max': @boat.guest_capacity, 'slider-ticks': [1, @boat.guest_capacity], 'slider-ticks-labels': [1, @boat.guest_capacity] }} %>
  </div>

  <div class="form-actions">
    <%= f.button(:submit, _('Book'), class: 'btn btn-block btn-lg btn-success') unless @boat.user == current_user %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $('form#new_booking').bookingForm(<%= @boat.days.where('date >= ? AND booking_id IS NULL', DateTime.now).order('date ASC').to_json.html_safe %>);
});
</script>