<h2>
  <%= _("Book") %>
  <% if can? :create, @boat.days.build %>
    <%= link_to _('Edit Availability'), boat_days_path(@boat), class: 'btn btn-link pull-right' %>
  <% end %>
</h2>

<% if @boat.user == current_user %>
  <div class="alert alert-sm alert-info">
    <p>
      <small><%= _("You can't book your own boat. This is just a preview of what guests will see.") %></small>
    </p>
  </div>
<% end %>

<%= simple_form_for([@boat, @booking]) do |f| %>
  <% if @booking.errors[:base].any? %>
    <p class="alert alert-danger"><%= @booking.errors[:base].join(', ') %></p>
  <% end %>

  <div class="form-inputs">
    <%= f.association :user, as: :hidden %>

    <div class="row">
      <div class="col-sm-12">
        <div id="start_time-picker" class="booking-date-picker">
          <p>
            <%= link_to '#start_time-picker', id: 'start_time-link' do %>
              <span class="booking-date-picker-label"><%= _('Select a start date') %></span>
              <%= fa_icon 'chevron-right rotate-90', class: 'chevron-expand pull-right' %>
            <% end %>
          </p>
        </div>

        <%= f.input :start_time, as: :hidden %>

        <div id="end_time-picker" class="booking-date-picker">
          <p>
            <%= link_to '#end_time-picker', id: 'end_time-link' do %>
              <span class="booking-date-picker-label"><%= _('Select an end date') %></span>
              <%= fa_icon 'chevron-right', class: 'chevron-expand pull-right' %>
            <% end %>
          </p>
        </div>

        <%= f.input :end_time, as: :hidden %>
      </div>
    </div>

    <%= f.label :people_on_board %>
    <%= f.input :people_on_board, as: :range, label: false, input_html: {data: {'slider-min': 1, 'slider-max': @boat.guest_capacity, 'slider-ticks': [1, @boat.guest_capacity], 'slider-ticks-labels': [1, @boat.guest_capacity] }} %>
  </div>

  <div class="form-actions">
    <%= f.button(:submit, 
                  _('Book'), 
                  class: "btn btn-block btn-lg btn-success #{'disabled' unless user_signed_in_and_complete?}"
                  ) unless @boat.user == current_user %>
  </div>
<% end %>
<%= render 'booking_alert' unless user_signed_in_and_complete? %>

<%= content_for :scripts do %>
<script type="text/javascript">
$(document).ready(function() {
  $('form#new_booking').bookingForm(<%= @dates_to_disable %>);
});
</script>
<% end %>
