<% title _("Bookings for %{boat_name}") %{boat_name: @boat.name} %>
<h1><%= _("Bookings for %{boat_name}") %{boat_name: @boat.name} %></h1>
<div class="row">
  <div class="col-sm-6">
    <h2><%= _("Pending Bookings") %></h2>
    <%= render 'bookings_list', bookings: @pending_bookings %>
  </div>
  <div class="col-sm-6">
    <h2><%= _("Accepted Bookings") %></h2>
    <%= render 'bookings_list', bookings: @accepted_bookings %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h2><%= _("Rejected Bookings") %></h2>
    <%= render 'bookings_list', bookings: @rejected_bookings %>
  </div>
  <div class="col-sm-6">
    <h2><%= _("Canceled Bookings") %></h2>
    <%= render 'bookings_list', bookings: @canceled_bookings %>
  </div>
</div>
<%= link_to("Back to #{@boat.name}", boat_path(@boat)) if @boat %>