<% title _("Bookings for %{boat_name}") %{boat_name: @boat.name} %>
<div class="row">
  <div class="col-sm-12 text-center">
    <h1><%= _("Bookings for %{boat_name}") %{boat_name: @boat.name} %></h1>
  </div>
</div>
<% if @active_bookings.any? %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2><%= _("Active Bookings") %></h2>
      <%= render 'bookings_list', bookings: @active_bookings %>
    </div>
  </div>
<% end %>
<% if @expired_bookings.any? %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2><%= _("Expired Bookings") %></h2>
      <%= render 'bookings_list', bookings: @expired_bookings %>
    </div>
  </div>
<% end %>