<div class="row">
	<div class="col-sm-12">
		<h1><%= _("My bookings") %></h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<% if @bookings.any? %>
			<% @bookings.each do |booking| %>
				<div class="row">
					<div class="col-sm-3">
						<p>
							<%= link_to booking.boat.name, boat_booking_path(booking.boat, booking) %>
						</p>
					</div>
					<div class="col-sm-3">
						<p>
							<%= l @booking.start_time.in_time_zone, format: :short %>
						</p>
					</div>
					<div class="col-sm-3">
						<p>
							<%= l @booking.end_time.in_time_zone, format: :short %>
						</p>
					</div>
					<div class="col-sm-3">
						<p>
							<%= @booking.aasm_state.humanize %>
						</p>
					</div>
				</div>
			<% end %>
		<% else %>
			<p><%= _("You have no bookings") %></p>
		<% end %>
	</div>
</div>