<% title _("Booking for %{boat_name}, %{boat_model}") %{boat_name: @boat.name, boat_model: @boat.model} %>
<div class="row">
  <div class="col-sm-8">
    <%# Chat %>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-user">
              <%= image_tag @other_user.image.url(:medium), class: 'chat-user-avatar' %>
              <%= @other_user.name %>
            </p>
            <p>
              <%= @booking.title %>
            </p>
            <p class="panel-contacts">
            <% if @booking.accepted? or @booking.canceled? or current_user == @boat.user %>
              <%= fa_icon('envelope', text: mail_to(@other_user.email))  %>
              &nbsp; &nbsp;
              <%= fa_icon('phone', text: tel_to(@other_user.phone)) %>
            <% end %>
            </p>
          </div>
          <div class="panel-body">
            <div id="messages">
              <% @conversation.receipts_for(current_user).order(created_at: :asc).each do |receipt| %>
                <% message = receipt.notification %>
                  <div class="message-container">
                    <div class="media
                                <%= (message.sender == current_user) ? 'chat-boat' : 'chat-booking' %>
                                <%= "chat-state-change #{message.booking_state_change}" if message.is_a? BookingStateMessage %>">
                      <div class="media-left">
                        <%= image_tag message.sender.image.url(:medium), class: 'chat-user-avatar' %>
                      </div>

                      <div class="media-body">
                        <h5><strong><%= message.sender.name %></strong></h5>
                        <h6 class="media-heading">
                          says at <%= message.created_at.strftime("%-d %B %Y, %H:%M") %></h6>
                        <p>
                          <%= message.body %>
                        </p>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
            <% if can? :reply, @booking %>
              <%= form_tag reply_boat_booking_path(@boat, @booking), method: :post do %>
                <div class="form-group chat-reply-text">
                  <%= image_tag current_user.image(:medium), class: 'chat-user-avatar chat-text-avatar' %>
                  <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: _('Type something...'), required: true %>
                </div>
                <%= submit_tag _("Send"), class: 'btn btn-primary btn-lg chat-reply-btn' %>
              <% end %>
            <% else %>
              <div class="panel-footer">
                <%= _("This booking has been canceled. No more messages!") %>
              </div>
            <% end %>

            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-sm-4 booking-info">
    <%# Right column %>
    <%= link_to @boat do %>
      <div class="row boat-recap">
        <div class="col-sm-12">
          <div class="booking-boat-media">
            <div class="media">
              <div class="media-left">
                <div class="recap-avatar" style="background: url('<%= @boat.pictures.first.image.url(:medium) %>') no-repeat center center; background-size: cover;"></div>
              </div>
              <div class="media-body">
                <h3 class="media-heading"><%= @boat.model %></h3>
                <h4 class="media-heading"><%= @boat.name %></h4>
                <p><%= fa_icon 'map-marker', text: @boat.address %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row booking-status state-background-<%= @booking.aasm_state %>">
      <div class="col-sm-12">
        <p>
          <%= fa_icon "#{booking_state_icon(@booking)} 2x", class: "heading-icon-#{@booking.aasm_state}", id: 'heading-icon' %>
          <%= booking_state_tooltip_text(@booking) %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 booking-duration">
        <p class="duration"><%= @booking.duration_in_days %></p>
        <p><%= n_("Day", "Days", @booking.duration_in_days) %></p>
      </div>
      <div class="col-xs-6 booking-people-on-board">
        <p class="people-on-board"><%= @booking.people_on_board %></p>
        <p><%= n_("Person", "People", @booking.people_on_board) %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 booking-dates">
        <p class="text-center">
          <% if @booking.duration_in_days > 1 %>
            <%= @booking.first_day_in_locale %> - <%= @booking.last_day_in_locale %>
          <% else %>
            <%= @booking.first_day_in_locale %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row booking-total-price">
      <div class="col-sm-12">
        <p><%= _("Total Price") %></p>
        <p class="price"><%= @booking.total_price %> €</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="booking-actions">
          <% if can? :accept, @booking %>
          <p>
            <% if @booking.has_started? %>
            <span class="label label-info">
              <%= @booking.has_expired? ? _("Booking already expired") : _("Booking still pending") %>
            </span>
            <%= fa_icon "question-circle", id: 'booking-period-help-icon' %>
            <% end %>
          </p>
          <p class="accept">
            <%= link_to((@booking.has_started? ? _("Oh yes, I accepted") : _("Accept")), accept_boat_booking_path(@boat, @booking), class: 'btn btn-lg btn-block btn-success') %>
          </p>
          <% end %>
          <% if can? :reject, @booking %>
          <p class="reject">
            <small><%= @booking.has_started? ? _("Did you reject this booking?") : _("Do you prefer not to accept?") %></small>
            <%= link_to((@booking.has_started? ? _("I rejected it") : _("Reject")), reject_boat_booking_path(@boat, @booking), class: 'btn btn-xs btn-danger', data: { confirm: _("Are you really sure you want to reject this booking?") }) %>
          </p>
          <% end %>
          <% if can? :cancel, @booking %>
          <p class="cancel">
            <small><%= _("Do you want to cancel this booking?") %></small>
            <%= link_to(_("Cancel"), cancel_boat_booking_path(@boat, @booking), class: 'btn btn-xs btn-danger', data: { confirm: _("Are you really sure you want to cancel this booking?") }) %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    // $(document).ready(function () {
    var element = document.getElementById("messages");
    element.scrollTop = element.scrollHeight;
    // });
    $('#booking-period-help-icon').tooltip({
      title: '<%= _("Tell us whether you accepted or rejected this booking. This way you can leave and receive a feedback") %>',
      placement: 'auto'
    });
  </script>
<% end %>
