<% title "Booking for #{@booking.boat.name}, #{@booking.boat.model}" %>
<div class="row">
  <div class="col-sm-12"> 
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-user">
          <% if current_user == @booking.user %>
            <%= image_tag @boat.user.image.url(:medium), class: 'chat-user-avatar' %>
            <%= @boat.user.name %>
          <% else %>
            <%= image_tag @booking.user.image.url(:medium), class: 'chat-user-avatar' %>
            <%= @booking.user.name %>
          <% end %>
        </p>
        <%= @conversation.subject %>
      </div>

      <div class="panel-body">
        <div id="messages">
          <% @conversation.receipts_for(current_user).each do |receipt| %>
            <% message = receipt.message %>
              <div class="message-container">
                <% if message.sender == current_user %>
                  <div class="media chat-boat">
                <% else %>
                  <div class="media chat-booking">
                <% end %>
                <div class="media-left">
                  <%= image_tag message.sender.image.url(:medium), class: 'chat-user-avatar' %>
                </div>

                <div class="media-body">
                  <h5><strong><%= message.sender.name %></strong></h5>
                  <h6 class="media-heading">
                    says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></h6>
                  <p>
                    <%= message.body %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% if can? :reply, @booking %>
          <%= form_tag reply_boat_booking_path(@boat, @booking), method: :post do %>
            <div class="form-group chat-reply-text">
              <%= image_tag current_user.image(:medium), class: 'chat-user-avatar chat-text-avatar' %>
              <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: _('Type something...'), required: true %>
            </div>
            <%= submit_tag _("Send Message"), class: 'btn btn-primary chat-reply-btn' %>
          <% end %>
        <% else %>
          <div class="panel-footer">
            <%= _("This booking has been canceled. No more messages!") %>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>


<p>
  <%= link_to("Accept", accept_boat_booking_path(@boat, @booking), class: 'btn btn-small btn-success') if can? :accept, @booking %>
  <%= link_to("Reject", reject_boat_booking_path(@boat, @booking), class: 'btn btn-small btn-danger') if can? :reject, @booking %>
  <%= link_to("Cancel", cancel_boat_booking_path(@boat, @booking), class: 'btn btn-small btn-danger', data: { confirm: _("Are you really sure you want to cancel this booking?") }) if can? :cancel, @booking %>
</p>

<p>
  <strong>Boat:</strong>
  <%= link_to @booking.boat.name, boat_path(@booking.boat) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.aasm_state.humanize %>
</p>

<p>
  <strong>Number of days:</strong>
  <%= n_days = booking_duration_in_days(@booking.end_time - @booking.start_time) %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= n_days * @booking.boat.daily_price %>€
</p>

<p>
  <strong>People on board:</strong>
  <%= @booking.people_on_board %>
</p>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function () {
      var element = document.getElementById("messages");
      element.scrollTop = element.scrollHeight;
    });
  </script>
<% end %>
