<% title s_("Title|Forgot password") %>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1><%= _("Forgot your password?") %></h1>
					<p class="login-subtitle">
						<%= _("Don't panic. Enter your email to receive reset password instructions.") %>
					</p>
				</div>				
			</div>
			<div class="row">
				<div class="col-sm-12 forgot-password-form">
					<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					  <%= f.error_notification %>
					    <%= f.input :email, label: _("Email address used in Sea for All"), autofocus: true %>
					  <%= f.button :submit, _("Send me reset password instructions"), class: 'btn btn-lg btn-success btn-block' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>