<%= content_for :title, s_("HelpTitle|Cookie Law") %>
<div class="container white-box">
  <div class="row col-sm-12">
    <h1>La Cookie Law (Legge sui Cookie)</h1>

    <p>
      Anche noi di Sea for All ci siamo adeguati alla cosiddetta "Cookie Law". Riteniamo però che sia una legge inutile e ti invitiamo a leggere perché <%= link_to "a questo link", "http://cookie.tools/" %>. Di seguito trovi tutto ciò che per legge dobbiamo farti sapere.
    </p>

    <h1>Cookie Policy</h1>

    <p>
      In questa pagina descriviamo quali tipi di cookie sono utilizzati in questo sito. Questa policy insieme alla informativa sulla Privacy fornisce le indicazioni sull'uso delle informazioni degli utenti.
    </p>

    <h2>I cookie: cosa sono e a cosa servono</h2>

    <p>
      I "cookie" sono piccoli file di testo che alcuni siti web inviano sul tuo computer o dispositivo mobile al momento in cui accedi a un determinato sito o ne utilizzi i servizi. Lo scopo è quello di acquisire e trasportare informazioni. I cookie sono inviati dal server web (sul quale è in esecuzione il sito visitato) al browser che stai utilizzando (Internet Explorer, Mozilla Firefox, Google Chrome, ecc.) e quindi memorizzati sul tuo computer.
    </p>

    <p>
      Se ti interessa sapere di più sui cookie visita la pagina <%= link_to 'www.allaboutcookies.org', 'http://www.allaboutcookies.org', target: '_blank' %>
    </p>

    <p>
      In generale i cookie possono essere utilizzati per diverse ragioni, per esempio per misurare l'utilizzo del sito da parte dei visitatori, migliorare la navigazione delle pagine, per consentire di impostare preferenze personali sui siti che si stanno visitando, o anche per proteggere la sicurezza dell'utente.
    </p>

    <h2>Cookie che utilizziamo</h2>

    <p>
      Durante la navigazione in Internet vengono registrate automaticamente alcune informazioni quali ad esempio: il nome del tuo provider di accesso alla rete Internet, il sito di provenienza, le pagine visitate, la durata della visita, etc. Tali informazioni saranno registrate in forma completamente anonima.
    </p>

    <p>
      I cookie utilizzati da questo sito si possono classificare in base allo scopo perseguito come di seguito descritto:
      <dl class="dl-horizontal">
        <dt>Cookie statici</dt>
        <dd>
          Sono utilizzati in forma aggregata per fini statistici del Sito e per monitorare, sempre in forma aggregata e mai individuale, quali pagine del Sito e quali Servizi siano maggiormente graditi dagli Utenti.
          Questi cookies vengono utilizzati solo per aiutarci a migliorare come funziona il nostro sito e capire gli interessi dei nostri utenti.
        </dd>
        <dt>Cookie di sessione</dt>
        <dd>
          Sono utilizzati soltanto per consentire l'accesso ad alcuni Servizi del Sito, vengono memorizzati per la durata della sessione di navigazione e quindi cancellati.
        </dd>
      </dl>
    </p>

    <h2>Accettazione della presente policy</h2>

    <p>
      Accettando questa Cookie Policy acconsenti all'uso dei cookie in conformità a quanto descritto nella presente pagina.
    </p>
    <p>
      Qualora decidessi di non accettarla ti invitiamo ad impostare il tuo browser di navigazione in modo appropriato oppure a non utilizzare il sito web di Sea for All. Ti rammentiamo che la disattivazione di alcuni cookie può influenzare la tua navigazione in Internet e su questo sito.
    </p>

    <h2>Come controllare e cancellare i cookie</h2>

    <p>
      La maggioranza dei browser Internet sono impostati per accettare i cookie in modo automatico.
    </p>
    <p>
      Hai la possibilità, in ogni momento, di impostare il browser in modo da accettare tutti i cookie, solo alcuni, oppure di rifiutarli, disabilitandone l'uso da parte dei siti. Inoltre, puoi impostare le preferenze del browser in modo tale da essere avvisato ogni volta che un cookie viene memorizzato nella memoria del tuo computer.
    </p>
    <p>
      Al termine di ogni sessione di navigazione, è possibile cancellare dal disco fisso i cookie raccolti.
    </p>
    <p>
      Per eliminare i cookie installati nella cartella dei cookie del browser utilizzato, ciascun browser presenta procedure diverse per la gestione delle impostazioni.
    </p>
    <p>
      Selezionando i collegamenti sottostanti si possono ottenere istruzioni specifiche per alcuni dei principali browser:
      <ul>
        <li><%= link_to "Microsoft Windows Explorer", "http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies", target: '_blank' %></li>
        <li><%= link_to "Google Chrome", "https://support.google.com/chrome/bin/answer.py?hl=en&answer=95647&p=cpn_cookies", target: "_blank" %></li>
        <li><%= link_to "Mozilla Firefox", "http://support.mozilla.org/en-US/kb/Enabling%20and%20disabling%20cookies", target: "_blank" %></li>
        <li><%= link_to "Apple Safari", "http://support.apple.com/kb/HT1677?viewlocale=en_US", target: "_blank" %></li>
      </ul>
    </p>
  </div>
</div>
