<div class="container">
  <div class="row">
    <div class="col-sm-12">
    	<h3>
        <%= _("Hi %{name}") %{name: current_user.first_name} %>,
      </h3>
      <p class="lead">
        <%= _("Welcome to SEAFORALL and thank you for joining us!") %>
      </p>
      <!-- Se hai una barca da completare -->
      <% if current_user.boats.incomplete.any? %>
        <p>
          <%= _("You have started the registration of %{num}") %{num: current_user.boats.count} %>
          <%= n_("boat", "boats", current_user.boats.count) %>.
          <% if current_user.boats.incomplete.count > 1 %>
            <%= _("Complete the profiles of your boats to make them visible to the guests.") %>
          <% else %>
            <%= _("Complete the profile of your boat to make it visible to the guests.") %>
          <% end %>
        </p>
        <% current_user.boats.incomplete.each do |boat| %>
          <p><%= link_to _("Complete this boat's profile"), edit_boat_path(boat) %></p>
        <% end %>
      <% end %>
      <p><%= link_to 'Start register', new_boat_path, class: 'btn btn-success btn-lg' %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Your boats</h2>
    </div>
    <% current_user.boats.each do |boat| %>
    <div class="col-sm-3 boat-list">
      <div class="boat-list-wrapper">
        <% if boat.complete? %>
          <%= link_to boat_path(boat) do %>
            <% bg_image = boat.pictures.any? ? boat.pictures.first.image.url : "http://placehold.it/300&text=SeaForAll+rocks!" %>
            <div style="background-image: url(<%= bg_image %>);" class="list-img"></div>
            <h3><%= boat.name %></h3>
            <p><%= boat.model %></p>
          <% end %>
        <% else %>
          <%= link_to "Edit this boat", edit_boat_path(boat) %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
  <hr>
  <div class="row">
   <div class="col-sm-12">
     <h2>Curious about other boats? <%= link_to 'Check it out', boats_path %></h2>
   </div>
 </div>
</div>