<% title s_("Title|Dashboard") %>
<% current_user_navbar active_bc_title: s_('Title|Dashboard') %>
<div class="container dashboard">
  <div class="row">
    <div class="col-md-2 hidden-sm hidden-xs left-panel">
      <div class="user-pic"><%= image_tag current_user.image.url(:medium) %></div>
      <br>
      <p><%= link_to (n_("%{count} review", "%{count} reviews", current_user.received_reviews.count) %{count: current_user.received_reviews.count}), reviews_path %></p>
      <% if current_user.bookings.any? %>
        <p><%= link_to _("Bookings"), my_bookings_path %></p>
      <% end %>
      <% if current_user.boats.any? %>
        <p>
          <%= link_to my_boats_path do %>
            <% n_("%{count} boat", "%{count} boats", current_user.boats.count) %{count: current_user.boats.count} %>
          <% end %>
        </p>
      <% end %>
      <hr>
      <p>
        <%= link_to _("Register a boat"), new_boat_path, class: 'btn btn-success btn-block' %>
      </p>
    </div>
    <div class="col-md-10">
      <!-- Welcome message -->
      <% unless current_user.boats.any? or current_user.bookings.any? %>
        <%= render 'pages/dashboard/welcome_panel' %>
      <% end %>

      <%# Incomplete Profile %>
      <% unless current_user.complete? %>
        <%= render 'pages/dashboard/incomplete_profile' %>
      <% end %>
  
      <%# Bookings as guest %>
      <% if current_user.bookings.any? %>
        <%= render 'pages/dashboard/bookings_panel', bookings: current_user.bookings.order('updated_at DESC').limit(3), role: 'guest' %>        
      <% end %>

      <%# Bookings as host %>
      <% if current_user.boat_bookings.any? %>
        <%= render 'pages/dashboard/bookings_panel', bookings: current_user.boat_bookings.order('updated_at DESC').limit(3), role: 'host' %>        
      <% end %>
      
      <%# Boats if host %>
      <% if current_user.boats.any? %>
        <%= render 'pages/dashboard/boats_panel' %>
      <% end %>

    </div>
  </div>
</div>