<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <%= _("Hi %{name}") %{name: current_user.first_name} %>,
      </h3>
      <p class="lead">
        <%= _("Welcome to <strong>Sea for All</strong> and thank you for joining us!").html_safe %>
      </p>
      <p>
        <%= _("This is your <em>dashboard</em>: from here you can access all the details of your boats and soon you will be able to manage your bookings.").html_safe %>
      </p>
    </div>
  </div>

  <%# No Boats %>
  <div class="row">
    <div class="col-sm-12">
      <% unless current_user.boats.any? %>
      <h2><%= _("No boats yet") %></h2>
      <p><%= _("You have no boats registered in Sea for All yet. Register your first boat now! It's fast and easy.") %></p>
      <p class="text-center">
        <%= link_to _("Sure! Register my first boat"), new_boat_path, class: 'btn btn-success btn-lg' %>
      </p>
      <p class="text-center">
        <small>
          <%= (_("Need help? Visit our wonderful %{help_page_link}!") %{help_page_link: link_to(_("help page"), page_path('help', locale: I18n.locale))}).html_safe %>
        </small>
      </p>
      <% else %>
      <p>
        <%= _("You have %{num} %{boats} registered in Sea for All.") %{ num: current_user.boats.count, boats: n_("boat", "boats", current_user.boats.count) } %>
        <%= _("To register another boat, just click the button below.") %>
      </p>
      <p class="text-center">
        <%= link_to _("Register a new boat"), new_boat_path, class: 'btn btn-success' %>
      </p>
      <% end %>
    </div>
  </div>


  <%# Incomplete Boats %>
  <% if current_user.boats.incomplete.any? %>
  <div class="row">
    <div class="col-sm-12">
      <h2>
        <%= _("Incomplete boats") %> <small>(<%= _("Not ready for renting") %>)</small>
      </h2>
      <p>
        <%= _("You have started the registration of %{num}") %{num: current_user.boats.incomplete.count} %>
        <%= n_("boat", "boats", current_user.boats.incomplete.count) %>.
        <% if current_user.boats.incomplete.count > 1 %>
          <%= _("Complete the profiles of these boats to make them visible to your future guests.") %>
        <% else %>
          <%= _("Complete the profile of this boat to make it visible to your future guests.") %>
        <% end %>
      </p>
      <% current_user.boats.incomplete.each do |boat| %>
        <%= render 'boats/boat_card', boat: boat %>
      <% end %>
    </div>
  </div>
  <% end %>

  <%# Complete Boats %>
  <div class="row">
    <div class="col-sm-12">
      <h2><%= _("Complete boats") %> <small>(<%= _("Soon ready for renting") %>)</small></h2>
    </div>
  </div>
  <div class="row">
    <% current_user.boats.complete.each do |boat| %>
      <%= render 'boats/boat_card', boat: boat %>
    <% end %>
  </div>
</div>