<%= content_for :fb_open_graph_tags do %>
  <!-- OpenGraph tags -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content='Sea for All | <%= s_("Landing|Share your boat with those who love the sea") %>' />
  <meta property="og:description" content='<%= s_("Landing|Offset your ownership costs by listing your boat whenever and however you like") %>' />
  <meta property="og:image" content='<%= "https:#{aws_image_path_for 'og-image.jpg'}" %>' />
  <meta property="og:url" content='<%= request.url %>' />
<% end %>

<div id="hero">
  <div class="container">
    <nav class="mobile-navbar">
      <% if user_signed_in? %>
        <li class="dropdown">
          <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button', aria: { expanded: 'false' } do %>
            <%= current_user.first_name %> <%= image_tag current_user.image(:thumb), class: 'user-avatar' %>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><%= link_to _("My Boats"), dashboard_path %></li>
            <li role="presentation"><%= link_to _("My Profile"), edit_user_registration_path %></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <!-- <p class="navbar-text"><%#= image_tag current_user.image, class: 'user-avatar' %> <%#= current_user.first_name %></p> -->
      <% else %>
        <li class="navbar-landing-link"><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </nav>
  </div>
  <div class="container-fluid">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img class="hidden-xs" src="<%= aws_image_path_for 'sfa-logo-hor-white.png' %>" height="30px" alt="SEA FOR ALL | Condividi la tua barca e risparmia sui costi di gestione">
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-landing-link">
              <% if I18n.locale == I18n.default_locale %>
                <%= link_to "English", locale: :en %>
              <% else %>
                <%= link_to "Italiano", locale: :it %>
              <% end %>
    
            </li>
            <% if user_signed_in? %>
              <li class="dropdown">
                <%= link_to '#', class: 'dropdown-toggle logged-in', data: { toggle: 'dropdown' }, role: 'button', aria: { expanded: 'false' } do %>
                  <%= current_user.first_name %> <%= image_tag current_user.image(:thumb), class: 'user-avatar' %>
                <% end %>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><%= link_to _("My Boats"), dashboard_path %></li>
                  <li role="presentation"><%= link_to _("My Profile"), edit_user_registration_path %></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
              <!-- <p class="navbar-text"><%#= image_tag current_user.image, class: 'user-avatar' %> <%#= current_user.first_name %></p> -->
            <% else %>
              <li class="navbar-landing-link"><%= link_to "Login", new_user_session_path %></li>
              <li><%= button_to s_("Landing|Register your boat"), new_user_registration_path, method: :get, class: 'btn btn-success navbar-btn' %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>

  <p class="text-center welcome-title">
    <img class="logo" src="<%= aws_image_path_for 'sfa-logo-hor-white-navbar.png' %>" alt="SEA FOR ALL | Condividi la tua barca e risparmia sui costi di gestione">
  </p>
  <div class="hero-background"></div>
  <div class="container">
    <h1><%= s_("Landing|Share your boat with those who love the sea") %></h1>

    <form class="form-inline home-search">
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Porto di partenza">
      </div><button type="submit" class="btn btn-default">Cerca barca</button>
    </form>
  </div>
</div>

<div id="best-offers" class="container">
  <h2 class="text-center">Migliori offerte</h2>
  <div class="row">
    <div class="col-sm-4">
      <a class="boat-offer" href="#">
        <p class="boat-text">Capri - Catamarano elegante</p>
        <div class="picture-offer" style="background-image: url('http://placehold.it/350x250');"></div>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="boat-offer" href="#">
        <p class="boat-text">Capri - Catamarano elegante</p>
        <div class="picture-offer" style="background-image: url('http://placehold.it/350x250');"></div>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="boat-offer" href="#">
        <p class="boat-text">Capri - Catamarano elegante</p>
        <div class="picture-offer" style="background-image: url('http://placehold.it/350x250');"></div>
      </a>
    </div>
  </div>
  <p class="text-center more-boats">
    <%= link_to s_("Landing|Show me more boats"), boats_path, class: 'btn btn-active' %>
  </p>
</div>

<div id="home-features">
  <div class="container">
    <div class="row">

      <div class="col-sm-4 owner text-center">
        <div class="description-icon">
          <%= link_to image_tag(aws_image_path_for 'sfa-logo-circle-blue.png'), page_path(id: 'help/host') %>
        </div>
        <h2><%= link_to s_("Landing|100% Gratuito"), page_path(id: 'help/host') %></h2>
        <ul>
          <li><%= s_("Landing|We find people who would like to use it") %></li>
          <li><%= s_("Landing|and help you reduce your costs") %></li>
        </ul>
      </div>
      <div class="col-sm-4 consumer text-center">
        <div class="description-icon">
          <%= link_to image_tag(aws_image_path_for 'sfa-logo-circle-orange.png'), page_path(id: 'help/guest') %>
        </div>
        <h2>
          <%= link_to s_("Landing|Entra nella community"), page_path(id: 'help/guest') %>
        </h2>
        <ul>
          <li><%= s_("Landing|We help you find the perfect fit for you") %></li>
          <li><%= s_("Landing|a great boat at a reasonable price") %></li>
        </ul>
      </div>
      <div class="col-sm-4 consumer text-center">
        <div class="description-icon">
          <%= link_to image_tag(aws_image_path_for 'sfa-logo-circle-orange.png'), page_path(id: 'help/guest') %>
        </div>
        <h2>
          <%= link_to s_("Landing|Assistenza"), page_path(id: 'help/guest') %>
        </h2>
        <ul>
          <li><%= s_("Landing|We help you find the perfect fit for you") %></li>
          <li><%= s_("Landing|a great boat at a reasonable price") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="call-to-action-bottom">
  <div class="container">
    <div class="row">
      <h2><%= s_("Landing|Share your boat with those who love the sea") %></h2>
      <p><%= s_("Landing|Offset your ownership costs by listing your boat whenever and however you like") %></p>
      <p>
        <%= link_to s_("Landing|Register your boat"), (user_signed_in? ? new_boat_path : new_user_registration_path), class: 'btn btn-active' %>
      </p>
    </div>
  </div>
</div>
