<%= content_for :fb_open_graph_tags do %>
  <!-- OpenGraph tags -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content='Sea for All | <%= s_("Landing|Share your boat with those who love the sea") %>' />
  <meta property="og:description" content='<%= s_("Landing|Offset your ownership costs by listing your boat whenever and however you like") %>' />
  <meta property="og:image" content='<%= "https:#{aws_image_path_for 'og-image.jpg'}" %>' />
  <meta property="og:url" content='<%= request.url %>' />
<% end %>

<%= render 'layouts/navbar' %>
<div id="hero">

  <p class="text-center welcome-title">
    <img class="logo" src="<%= aws_image_path_for 'sfa-logo-hor-white-navbar.png' %>" alt="SEA FOR ALL | Condividi la tua barca e risparmia sui costi di gestione">
  </p>
  <div class="hero-background"></div>
  <div class="container">
    <h1><%= s_("Landing|Share your boat with those who love the sea") %></h1>

    <div class="search-bar">
      <%= render 'boats/search' %>
    </div>
  </div>
</div>

<div id="best-offers" class="container">
  <h2 class="text-center">Migliori offerte</h2>
  <div class="row">
    <% Boat.complete.limit(3).each do |boat| %>
      <%= render('boats/boat_card', boat: boat) if boat.can_be_published? %>
    <% end %>
  </div>
  <p class="text-center more-boats">
    <%= link_to s_("Landing|Show me more boats"), boats_path, class: 'btn btn-active' %>
  </p>
</div>

<div id="home-features">
  <div class="container">
    <div class="row">

      <div class="col-sm-4 text-center">
        <div class="description-icon">
          <%= image_tag(aws_image_path_for 'sfa-logo-circle-orange.png') %>
        </div>
        <h2>
          <%= s_("Landing|Join the community") %>
        </h2>
        <ul>
          <li><%= s_("Landing|We help you find the perfect fit for you") %></li>
          <li><%= s_("Landing|a great boat at a reasonable price") %></li>
        </ul>
      </div>

      <div class="col-sm-4 text-center">
        <div class="container-handshake">
          <%= inline_svg 'handshake', class: 'circle-handshake', nocomment: true %>
        </div>
        <h2>
          <%= s_("Landing|Service 100% free") %>
        </h2>
        <ul>
          <li><%= s_("Landing|No hidden costs or fees") %></li>
          <li><%= s_("Landing|Other cool text") %></li>
        </ul>
      </div>

      <div class="col-sm-4 text-center">
        <div class="description-icon">
          <%= image_tag(aws_image_path_for 'sfa-logo-circle-blue.png') %>
        </div>
        <h2><%= s_("Landing|Earn extra money with your boat") %></h2>
        <ul>
          <li><%= s_("Landing|We find people who would like to use it") %></li>
          <li><%= s_("Landing|and help you reduce your costs") %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="call-to-action-bottom">
  <div class="container">
    <div class="row host-content">
      <div class="col-sm-8 col-sm-offset-2">
        <h2><%= s_("Landing|Share your boat with those who love the sea") %></h2>
        <p><%= s_("Landing|Offset your ownership costs by listing your boat whenever and however you like") %></p>
        <p>
          <%= link_to s_("Landing|Register your boat"), (user_signed_in? ? new_boat_path : new_user_registration_path), class: 'btn btn-active' %>
        </p>
      </div>
    </div>
  </div>
</div>
