<div id="hero">
  <div class="container-fluid">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img class="hidden-xs" src="<%= aws_image_path_for 'sfa-logo-hor-white.png' %>" height="30px" alt="SEA FOR ALL | Condividi la tua barca e risparmia sui costi di gestione">
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-landing-link">
              <% if I18n.locale == I18n.default_locale %>
                <%= link_to "English", locale: :en %>
              <% else %>
                <%= link_to "Italiano", locale: :it %>
              <% end %>
            </li>
            <% if user_signed_in? %>
              <li class="dropdown">
                <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button', aria: { expanded: 'false' } do %>
                  <%= current_user.first_name %> <%= image_tag current_user.image(:thumb), class: 'user-avatar' %>
                <% end %>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><%= link_to _("My Boats"), dashboard_path %></li>
                  <li role="presentation"><%= link_to _("My Profile"), edit_user_registration_path %></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
              <!-- <p class="navbar-text"><%#= image_tag current_user.image, class: 'user-avatar' %> <%#= current_user.first_name %></p> -->
            <% else %>
              <li class="navbar-landing-link"><%= link_to "Login", new_user_session_path %></li>
              <li><%= button_to s_("Landing|Register your boat"), new_user_registration_path, method: :get, class: 'btn btn-success navbar-btn' %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
  <p class="text-center">
    <img class="logo" src="<%= aws_image_path_for 'sfa-logo-hor-white-navbar.png' %>" alt="SEA FOR ALL | Condividi la tua barca e risparmia sui costi di gestione">
  </p>
  <div class="hero-background"></div>
  <div class="container">
    <h1><%= s_("Landing|Share your boat with those who love the sea") %></h1>
    <p>&nbsp;</p>
    <h3><%= s_("Landing|Super engaging message for the host. He must crave being able to share his boat!") %></strong></h3>

    <%= link_to s_("Landing|Register your boat"), new_user_registration_path, class: 'button btn btn-lg btn-mailchimp' %>
    <h3>
      <%= s_("Landing|Interested in renting a boat?") %>
      <strong><%= link_to s_("Landing|Leave us your email!"), "#leave-email" %></strong>
    </h3>
    <!--End mc_embed_signup-->
    <h2>#sharingissaving</h2>
  </div>
</div>

<div id="users">
<div class="pattern"></div>
  <div class="container">
    <div class="row">
      <h1 class="text-center"><%= s_("Landing|What is SEA FOR ALL") %></h1>
      <div class="col-sm-6 owner text-center">
        <div class="description-icon">
          <%= link_to image_tag(aws_image_path_for 'sfa-logo-circle-blue.png'), page_path(id: 'help/host') %>
        </div>
        <h2><%= link_to s_("Landing|Want to earn extra money with your boat?"), page_path(id: 'help/host') %></h2>
        <ul>
          <li><%= s_("Landing|We find people who would like to use it") %></li>
          <li><%= s_("Landing|and help you reduce your costs") %></li>
        </ul>
        <p><small><%= link_to s_("Landing|More info"), page_path(id: 'help/host') %></small></p>
      </div>
      <div class="col-sm-6 consumer text-center">
        <div class="description-icon">
          <%= link_to image_tag(aws_image_path_for 'sfa-logo-circle-orange.png'), page_path(id: 'help/guest') %>
        </div>
        <h2>
          <%= link_to s_("Landing|Want a boat to spend a day at sea?"), page_path(id: 'help/guest') %>
        </h2>
        <ul>
          <li><%= s_("Landing|We help you find the perfect fit for you") %></li>
          <li><%= s_("Landing|a great boat at a reasonable price") %></li>
        </ul>
        <p><small><%= link_to s_("Landing|More info"), page_path(id: 'help/guest') %></small></p>
      </div>
    </div>
  </div>
</div>
<a id="leave-email"></a>
<div class="bottom-call">
  <div class="pattern"></div>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <div class="bordino-mail">

          <h2 class="sei-pronto"><%= s_("Landing|Ready?") %></h2>
          <p><%= s_("Landing|Leave us your email.") %><br>
            <%= s_("Landing|We'll get in touch as we weigh anchor.") %></p>

            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="//seaforall.us10.list-manage.com/subscribe/post?u=69835b8c2d366cadb1d79be22&amp;id=b07377296f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <div class="mc-field-group">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  </div>
                  <div class="mc-field-group">
                    <label for="mce-ROLE"><%= s_("Landing|I'm interested because") %>
                    </label>
                    <br>
                    <select name="ROLE" class="required" id="mce-ROLE">

                      <option value="Vorrei affittare una barca"><%= s_("Landing|I'm looking for a boat to rent") %></option>
                      <option value="Vorrei condividere la mia barca"><%= s_("Landing|I have a boat to share") %></option>

                    </select>
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_69835b8c2d366cadb1d79be22_b07377296f" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="<%= s_("Landing|Keep me posted") %>" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-mailchimp"></div>
                </div>
              </form>
            </div>

        <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
</div>