<% title s_("Title|Welcome") %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    	<h1>
        <%= _("Welcome %{name}") %{name: current_user.first_name} %>
      </h1>
      <p class="lead">
        <%= _("Thank you for joining Sea for All. You can register your boat in a minute or find the right boat for you!") %>
      </p>
    </div>
  </div>

  <div class="row">
   <div class="col-sm-4 col-sm-offset-2 text-center">
    <div class="welcome-choice">
      <%= link_to new_boat_path do %>
        <h2><%= s_("Welcome|Do you own a boat and want to rent it?") %></h2>
        <div class="description-icon">
          <%= image_tag(aws_image_path_for 'sfa-logo-circle-blue.png') %>
        </div>
      <% end %>
    </div>
   </div>
   <div class="col-sm-4 text-center">
    <div class="welcome-choice">
      <%= link_to boats_path do %>
        <h2><%= s_("Welcome|Do you want to take a boat for renting?") %></h2>
        <div class="description-icon">
          <%= image_tag(aws_image_path_for 'sfa-logo-circle-orange.png') %>
        </div>
      <% end %>
    </div>
   </div>
 </div>

 <div class="row">
   <div class="col-sm-8 col-sm-offset-2 text-center">
     <h3><%= link_to _("or complete your profile!"), edit_user_registration_path %></h3>
   </div>
 </div>
</div>