<%= content_for :title, s_("HelpTitle|Help guest") %>
<div class="help-container">
  <div class="row guest">
    <div class="col-md-6 help-text">
      <h1>Trova una barca</h1>
      <p>Inserisci la località balneare e trova una barca adatta alle tue esigenze.</p>
      <p>
        In caso di Locazione verifica se per l'utilizzo dell'unità da diporto è necessario essere titolari di una patente nautica, e di che genere (motore, vela/motore).
      </p>
    </div>
    <div class="col-md-6 help-image">
      <div class="circle-help-guest">
        <%= inline_svg 'np-guest-hat.svg', class: 'help-guest-hat', nocomment: true %>
      </div>
    </div>
  </div>

  <div class="row guest">
    <div class="col-md-6 help-image">
      <%= inline_svg 'np-calendar.svg', class: 'help-np-icon-orange', nocomment: true %>
    </div>
    <div class="col-md-6 help-text">
      <h1>Verifica la disponibilità</h1>
      <p>Controlla il calendario del proprietario e verifica la disponibilità della barca per le data a cui sei interessato.</p>

      <h1>Prenota l'uscita</h1>
      <p>Una volta verificata la disponibilità dell'imbarcazione prenota la tua uscita.</p>
    </div>
  </div>

  <div class="row guest">
    <div class="col-md-6 help-text">
      <h1>Contatta il proprietario</h1>
      <p>
        Contatta il proprietario dell'imbarcazione tramite il sistema di messaggistica presente su Sea for All.
      </p>
      <p>
        Organizza direttamente con lui gli aspetti pratici dell'uscita; richiedi maggiori specifiche sull'itinerario della giornata e sulla durata della navigazione.
      </p>
      <p>
        In caso di servizio di locazione verifica con lui se sarà presente di persona al momento del check-in o se ha delegato una persona terza a lui fidata (ad esempio che gestisce il molo dove è ormeggiata la barca).
      </p>
    </div>
    <div class="col-md-6 help-image">
      <%= inline_svg 'np-chat.svg', class: 'help-np-icon-orange', nocomment: true %>
    </div>
  </div>

  <div class="row guest">
    <div class="col-md-6 help-image">
      <%= inline_svg 'np-review.svg', class: 'help-np-icon-orange', nocomment: true %>
    </div>
    <div class="col-md-6 help-text">
      <h1>Recensioni</h1>
      <p>
        Lascia una recensione della tua esperienza e condividi la tua valutazione di chi ha preso in noleggio e/o locazione la tua barca.
      </p>
      <p>
        Il tuo feedback sarà utile a tutti gli utenti iscritti su Sea for All.
      </p>
      <p>
        I principali parametri da considerare da parte del proprietario di barca sono le condizioni in cui è stata riconsegnata la barca, la pulizia e la puntualità.
      </p>
    </div>
  </div>

  <div class="row guest">
    <div class="col-md-6 help-text">
      <h1>Dotazioni di Sicurezza</h1>
      <p>
        Ogni imbarcazione iscritta su Sea for All deve essere equipaggiata le dotazioni di sicurezza previste dalla Guardia Costiera (disponibili a <%= link_to 'questo link', aws_pdf_path_for("dotazioni-di-sicurezza.pdf"), target: '_blank' %>).
      </p>
      <p>
        Il proprietario dovrà perciò garantire di essere in regola, dimostrando e segnalando la posizione dell'equipaggiamento di sicurezza sulla barca.
      </p>
      <p>
        L'unità da diporto fornita di motore (di qualsiasi potenza) ha l'Assicurazione RC obbligatoria, come previsto dalla legge.
      </p>
    </div>
    <div class="col-md-6 help-image">
      <div class="circle-help-guest">
        <%= inline_svg 'np-vest.svg', class: 'help-guest-vest', nocomment: true %>
      </div>
    </div>
  </div>
</div>
<%= render '/pages/help/help_call_to_action' %>
