<div class="help-container">
	
	<%= render 'pages/help/modals' %>

	<div class="row host">
		<div class="col-md-6 help-text">
			<h1>Vuoi guadagnare con la tua barca?</h1>
			<p>
			  Se hai una barca e vuoi ridurre i tuoi costi di gestione e manutenzione, con Sea for All potrai condividerla in totale sicurezza con chi, come te, ama il mare.
			  <br>
			  In poche e semplici mosse, come e quando vuoi.
			</p>
			<p>
				Le barche presenti su Sea for All possono essere disponibili per il <%= link_to 'noleggio', '#', data: { toggle: 'modal', target: '#noleggioModal'} %> o la <%= link_to 'locazione', '#', data: { toggle: 'modal', target: '#locazioneModal'} %>, o per entrambe le soluzioni.
			</p>
			<p>
				Per quanto riguarda il noleggio di unità da diporto tra privati, Sea for All si avvale della regolamentazione in vigore prevista dalla nuova legge sul <%= link_to 'noleggio occasionale', '#', data: { toggle: 'modal', target: '#noleggioOccasionaleModal'} %>.
			</p>
			<p>
				Per iscrivere la tua barca per il servizio di locazione è necessario che tutti i requisiti di legge siano assolti. Devi pertanto contattare la tua Capitaneria di Porto di riferimento per poter richiedere tutti i permessi.
			</p>
		</div>
		<div class="col-md-6 help-image">
			<%= image_tag "http://placekitten.com/400/500" %>
		</div>
	</div>
	
	<div class="row host">
		<div class="col-md-6 help-image">
			<%= image_tag "http://placekitten.com/300/200" %>
		</div>
		<div class="col-md-6 help-text">
			<h1>Iscrivi la tua barca</h1>
			<p>
				Inserisci tutte le caratteristiche della tua barca e specifica l'area dove è ormeggiata. Avrai inoltre uno spazio dedicato per descrivere le particolarità della tua barca.
			</p>
			<p>Stabilisci il prezzo giornaliero.</p>
			<p>
				In caso di Locazione verifica se per l'utilizzo dell'unità da diporto è necessario essere titolari di una patente nautica, e di che genere (motore, vela/motore).
			</p>
		</div>
	</div>
	
	<div class="row host">
		<div class="col-md-6 help-text">
			<h1>Gestisci il Calendario</h1>
			<p>
				Scegli le date in cui vuoi rendere disponibile la tua barca. 
			</p>
			<p>
				Sea for All ti permette di avere il controllo totale della tua agenda. Potrai modificare le date, scegliere se condividere la tua barca per uno o più giorni.
			</p>
		</div>
		<div class="col-md-6 help-image">
			<%= image_tag "http://placekitten.com/400/300" %>
		</div>
	</div>
	
	<div class="row host">
		<div class="col-md-6 help-image">
			<%= image_tag "http://placekitten.com/400/300" %>
		</div>
		<div class="col-md-6 help-text">
			<h1>Organizza l'uscita</h1>
			<p>
				Ogni volta che la tua barca viene prenotata verrai contattato dalla persona interessata tramite un sistema di messaggistica presente all'interno di Sea for All.
			</p> 
			<p>
				A questo punto ti potrai mettere d'accordo sui dettagli pratici dell'appuntamento (ad esempio il luogo e l'ora dell'incontro).
			</p>
		</div>
	</div>
	
	<div class="row host">
		<div class="col-md-6 help-text">
			<h1>Recensioni</h1>
			<p>
				Lascia una recensione della tua esperienza e condividi la tua valutazione di chi ha preso in noleggio e/o locazione la tua barca.
			</p> 
			<p>Il tuo feedback sarà utile a tutti gli utenti iscritti su Sea for All.</p> 
			<p>
				I principali parametri da considerare da parte del proprietario di barca sono le condizioni in cui è stata riconsegnata la barca, la pulizia e la puntualità.
			</p>
		</div>
		<div class="col-md-6 help-image">
			<%= image_tag "http://placekitten.com/400/300" %>
		</div>
	</div>

	<div class="row host">
		<div class="col-md-6 help-image">
			<%= image_tag "http://placekitten.com/400/300" %>
		</div>
		<div class="col-md-6 help-text">
			<h1>Dotazioni di Sicurezza</h1>
			<p>
				Ogni imbarcazione iscritta su Sea for All deve essere equipaggiata delle dotazioni di sicurezza previste dalla Guardia Costiera (disponibili a <%= link_to 'questo link', aws_pdf_path_for("dotazioni-di-sicurezza.pdf"), target: '_blank' %>).
			</p>
			<p>
				Il proprietario dovrà perciò garantire di essere in regola, dimostrando e segnalando la posizione dell'equipaggiamento di sicurezza sulla barca.
			</p>
			<p>
				L'unità da diporto fornita di motore (di qualsiasi potenza) deve essere provvista di Assicurazione RC obbligatoria, come previsto dalla legge.
			</p>
		</div>
	</div>
</div>