<% content_for :title, s_("NewBookingMailTitle|New booking for %{boat_name}") %{boat_name: @boat.name} %>
<% content_for :logo_img, @receiver == @guest ? "orange" : "blue" %>
<p>
  <% if @receiver == @guest %>
    <%= s_("NewBookingMailBody|You have created a new booking request for %{boat_name}:") %{boat_name: @boat.name} %>
  <% else %>
    <%= s_("NewBookingMailBody|You have received a new booking request for %{boat_name}:") %{boat_name: @boat.name} %>
  <% end %>
</p>

<%= render 'shared/booking_table' %>

<h2 class="total-price"><%= _("Total Price") %>: <%= @booking.total_price %>€</h2>

<p>
  <% if @receiver == @guest %>
    <%= (s_("NewBookingMailBody|Review the details of the booking, continue the conversation with %{sender_name} and enjoy the boat once %{sender_name} will have accepted the booking.") %{sender_name: @sender.name}).html_safe %>
  <% else %>
    <%= (s_("NewBookingMailBody|Review the details of the booking, reply to %{sender_name} and <strong>accept</strong> (or reject) the booking.") %{sender_name: @sender.name}).html_safe %>
  <% end %>
</p>

<h1 class="read-message-btn">
  <%#= NOTE: the usual url boat_booking_url(@boat, @booking) doesn't work here %>
  <%= link_to s_("NewBookingMailBody|Go to this booking"), boat_booking_url(boat_id: @boat.id, id: @booking.id) %>
</h1>