<% content_for :title, s_("MailTitleNewReply|New message from %{sender_name}") %{sender_name: @sender.name} %>
<% content_for :logo_img, @receiver == @guest ? "orange" : "blue" %>
<p>
  <%= s_("MailBodyNewReply|You received a private message from %{sender_name} for the booking:") %{sender_name: @sender.name} %>
</p>

<%= render 'shared/booking_table' %>

<h2 class="total-price"><%= _("Total Price") %>: <%= @booking.total_price %>€</h2>

<h1 class="read-message-btn">
  <%#= NOTE: the usual url boat_booking_url(@boat, @booking) doesn't work here %>
  <%= link_to s_("MailBodyCallToAction|Read the message"), boat_booking_url(boat_id: @boat.id, id: @booking.id) %>
</h1>