<% title s_("Title|Availability of %{boat_name}") %{boat_name: @boat.name} %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 calendar-col">
      <h1 class="text-center"><%= _("Availability") %></h1>

      <p><%= _("Click on the days when your boat will not be available for renting. Click on a gray day to make it available again. Don't forget that reserved days cannot be modified.") %></p>

      <div class="availability-calendar-wrap">
        <div id="custom-inner" class="custom-inner">
          <div class="custom-header clearfix">
            <nav>
              <span id="custom-prev" class="custom-prev"></span>
              <span id="custom-next" class="custom-next"></span>
            </nav>
            <h2>
              <span id="custom-month"></span>
              <span id="custom-year"></span>
            </h2>
          </div>
          <div id="calendar" class="fc-calendar-container"></div>
        </div>
      </div>
      <!-- Documentation here http://tympanus.net/codrops/2012/11/27/calendario-a-flexible-calendar-plugin/ -->
      <!-- <div class="fc-calendar-container" id="calendar"></div> -->
    </div>
  </div>
  <div class="row calendar-legend">
    <div class="col-lg-2 col-lg-offset-1 calendar-legend available-day"><%= fa_icon 'square 2x', text: _("Available") %></div>
    <div class="col-lg-2 calendar-legend unavailable-day"><%= fa_icon 'square 2x', text: _("Unavailable") %></div>
    <div class="col-lg-2 calendar-legend pending-day"><%= fa_icon 'square 2x', text: _("Requested") %></div>
    <div class="col-lg-2 calendar-legend accepted-day"><%= fa_icon 'square 2x', text: _("Booked") %></div>
  </div>
  <div class="row" style="margin-top: 1em;">
    <div class="col-md-10 col-md-offset-1">
      <p class="text-right">
        <%= link_to _('List of bookings'), boat_bookings_path(@boat), class: 'btn btn-primary btn-lg' %>
        <%= link_to _('Back to the boat!'), @boat, class: 'btn btn-primary btn-lg' %>
        <br>
        <small>
          <%= _('Changes are automatically saved') %>
        </small>
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.availability-calendar-wrap').availabilityCalendar('<%= boat_days_url(@boat) %>');
</script>
