<div class="bookings-panel">
  <div class="panel-heading panel-<%= role %>">
    <h3 class="panel-title">
      <%= _("Latest bookings") %> <%= _("for your boats") if role == 'host' %>
    </h3>
  </div>
  <div class="panel-body">
    <%= render 'bookings/bookings_list', bookings: bookings %>
    <br>
		<% if current_user.bookings.accepted.count > 0 %>
    	<p class="text-center"><%= link_to _("View all"), my_bookings_path %></p>
		<% end %>
  </div>
</div>