<% content_for :title, @subject %>
<% content_for :logo_img, @receiver == @guest ? "orange" : "blue" %>

<p>
<% if @receiver == @guest %>
	<%= (s_("MailBodyRemindReview|Did you have a good time on <strong>%{boat_name}</strong>? Please review your experience and let other people know how much fun you had on %{host_name}'s boat!" %{boat_name: @boat.first_name, host_name: @host.first_name} ).html_safe) %>
<% else %>
	<%= s_("MailBodyRemindReview|How was your experience with %{guest_name}? Please tell us how it was to host %{guest_name} on your boat.") %{guest_name: @guest.first_name} %>
<% end %>
</p>

<p>
	<%= s_("MailBodyRemindReview|Your review is very important because it will help other users of the Sea for All community to know more about %{other_name}'s reputation.") %{other_name: @other_user.first_name} %>	
</p>

<%= render 'shared/booking_table' %>

<p>
  <%= (s_("MailBodyRemindReview|Go to the details of the booking and leave your review!")).html_safe %>
  <br>
  <small><%= (s_("MailBodyRemindReview|Don't forget that your review will be public, so please be polite and respectful.")).html_safe %></small>
</p>

<h1 class="read-message-btn">
  <%#= NOTE: the usual url boat_booking_url(@boat, @booking) doesn't work here %>
  <%= link_to s_("MailBodyCallToAction|Leave your review"), boat_booking_url(boat_id: @boat.id, id: @booking.id) %>
</h1>