<% title s_("Title|Error") %>
<div class="container-fluid white-box error-box">
	<div class="row">
		<div class="col-md-6">
			<h1><%= s_("ErrorPage|Yikes!") %></h1>
			<p class="error-msg"><%= s_("ErrorPage|Sorry, there has been a problem with your request.") %></p>
			<p id="contact-us">
				<%= (s_("ErrorPage|Try again later or contact us by writing to %{mail_to}") %{mail_to: mail_to("hello@seaforall.com", "hello@seaforall.com", subject: s_("ErrorPage|Houston we have a problem"))}).html_safe %>
			</p>
			<%= render 'useful_links' %>
		</div>
		<div class="col-md-6">
			<div class="error-image">
				<%= inline_svg 'np-bailout.svg', class: 'error-svg', nocomment: true %>
			</div>
		</div>
	</div>
</div>
