<%= simple_form_for([@boat, @booking, @review]) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= f.error_notification %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label _("Rating") %>
      <%= f.input :rating, label: false do %>
        <%= f.input_field :rating, as: :hidden %>
        <div class="rating as-pointer">
          <% 1.upto(5) do |rating| %>
            <%= fa_icon 'star-o 2x', class: 'rating-star', data: { rating: rating }, id: "rating-#{rating}" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <p>
        <strong>Comment</strong>
        <span class="comment-length">
          <span id="char-to-go">
            <span id="comment-min-length">42</span>
            <%= s_("ReviewChars|characters to go") %>,
          </span>
          <span id="char-left">
            <span id="comment-max-length">512</span>
            <%= s_("ReviewChars|left") %>
          </span>
        </span>
      </p>
      <%= f.input :comment, placeholder: _("Enter at least 42 characters"), label: false %>
    </div>
  </div>
  <%= f.input :reviewee_id, as: :hidden %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <%= f.button :submit, class: 'btn btn-lg btn-block btn-success' %>
    </div>
  </div>
<% end %>

<% content_for :scripts  do %>
  <script type="text/javascript">

    $(document).ready(function () {
      $("#review_comment").keyup(countChar);
      $('.rating-star')
      .on('mouseover', function(e) {
        var rating = $(e.target).data('rating');
        // riempi tutte le stelle
        $('.rating-star').removeClass('fa-star-o').addClass('fa-star');
        // svuota quelle a destra di quella su cui è il mouse
        $('.rating-star#rating-' + rating + ' ~ .rating-star').removeClass('fa-star').addClass('fa-star-o');
      })
      .on('mouseleave', function (e) {
        // svuota le stelle, ma non quelle '.selected'
        $('.rating-star').removeClass('fa-star').addClass('fa-star-o');
      })
      .on('click', function(e) {
        var rating = $(e.target).data('rating');
        $('#review_rating').val(rating);
        // riempi tutte le stelle usando la classe '.selected'
        $('.rating-star').removeClass('fa-star-o').addClass('selected');
        // svuota quelle a destra di quella selezionata
        $('.rating-star#rating-' + rating + ' ~ .rating-star').removeClass('selected').addClass('fa-star-o');
      })
    });
  </script>
<% end %>
