<%= simple_form_for([@boat, @booking, @review]) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= f.error_notification %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :rating %>
    </div>
    <div class="col-md-8">
      <%= f.input :comment, placeholder: _("Enter at least 42 characters") %>
      <div class="comment-length">
        <span id="char-to-go">
          <span id="comment-min-length">42</span>
          characters to go,
        </span>
        <span id="char-left">
          <span id="comment-max-length">512</span>
          characters left
        </span>
      </div>
    </div>
  </div>
  <%= f.input :reviewee_id, as: :hidden %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <%= f.button :submit, class: 'btn btn-lg btn-block btn-success' %>
    </div>
  </div>
<% end %>

<% content_for :scripts  do %>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#review_comment").keyup(countChar)
    });
  </script>
<% end %>
