<div class="col-sm-6 col-md-4 boat-card-wrapper">
  <% if (can? :edit, boat) and not boat.complete? %>
    <p class="complete-profile"><%= link_to _("Complete profile"), edit_boat_path(boat), class: "btn btn-info btn-sm" %></p>
  <% end %>
  <div class="boat-card">
    <%= link_to boat do %>
      <div>
        <% bg_image = boat.pictures.any? ? boat.pictures.first.image.url : placeholder_url_for(:boat_card) %>
        <%= image_tag(boat.user.image(:thumb), height: '50px', class: 'boat-owner') %>
        <p class="boat-price"><%= boat.daily_price || "??" %> <%= fa_icon 'eur' %></p>
        <div class="picture" style="background-image: url('<%= bg_image %>')"></div>
        <div class="caption">
          <h3 class="boat-model"><%= boat.model.present? ? boat.model : s_("BoatMissingField|Model not set") %></h3>
          <p class="boat-name"><%= boat.name.present? ? boat.name : s_("BoatMissingField|Name not set") %></p>
          <p class="boat-place"><%= fa_icon 'map-marker', text: boat.address.present? ? boat.address : s_("BoatMissingField|Address not set") %></p>
        </div>
      </div>
      <% if can? :create, boat.days.build %>
        <%= link_to fa_icon('calendar'), boat_days_path(boat), class: 'btn btn-availability' %>
      <% end %>
    <% end %>
  </div>
</div>