<%= simple_form_for @boat, remote: true, html: { multipart: true }, wrapper: :vertical_input_group,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :vertical_boolean
  } do |f| %>
  <h3><%= _("Details of your boat") %></h3>
  <p>
    <span class="last-update"><%= _('Last update:') %> <%= l @boat.updated_at, format: :short %></span>
    <span class="saving"><%= _('Saving...') %></span>
  </p>
	<%= f.error_notification %>
	<% @boat.errors[:base].each do |error| %>
		<p><%= error %></p>
	<% end %>
	<%= render 'fields', f: f %>
<% end %>