<div class="row">
  <div class="col-md-4">
    <%= f.association :boat_category,
                      prompt: _("Select the category"),
                      input_html: { class: 'form-control' },
                      label_method: ->(obj) { _(obj.to_s).capitalize },
                      required: false %>
  </div>
  <div class="col-md-4">
    <%= f.input :rental_type,
                collection: Boat::RENTAL_TYPES,
                prompt: _("Select the type of rental"),
                label_method: ->(obj) { _(obj.to_s).capitalize },
                required: false %>
  </div>
  <div class="col-md-4">
    <p><strong><%= _("License") %></strong></p>
    <%= f.input :with_license, label: _("License needed"), required: false %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= f.input :name,
                placeholder: _("What is its name?"),
                required: false %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.input :manufacturer,
                placeholder: _("Who built your boat?"),
                required: false %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.input :model,
                placeholder: _("e.g. Pursuit DC 265, Cobalt A25"),
                required: false %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= f.input :year, wrapper: :vertical_input_group, required: false do %>
    <%= f.input_field :year, as: :string, placeholder: _("Select the year"), class: 'form-control' %>
    <span class="input-group-addon boat-input-group-addon"><%= fa_icon 'calendar' %></span>
<% end %>
  </div>
  <div class="col-md-4">
    <%= f.input :length, wrapper: :vertical_input_group, required: false do %>
      <%= f.input_field :length, placeholder: _("Your boat's length, in meters"), class: "form-control" %>
      <span class="input-group-addon boat-input-group-addon">m</span>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= f.input :guest_capacity, wrapper: :vertical_input_group, required: false do %>
      <%= f.input_field :guest_capacity, placeholder: _("How many people can jump aboard?"), class: 'form-control' %>
      <span class="input-group-addon boat-input-group-addon"><%= fa_icon 'users' %></span>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= f.input :fuel_type,
                collection: Boat::FUEL_TYPES,
                prompt: _("Select the type of fuel"),
                label_method: ->(obj) { _(obj.to_s).capitalize },
                required: false %>
  </div>
  <div class="col-md-4">
    <%= f.input :horse_power, label: _("Engine Horse Power"), wrapper: :vertical_input_group, required: false do %>
      <span class="input-group-addon">
        <input type="checkbox" id="engine-presence" aria-label="<%= _('Check this if the boat has an engine') %>">
      </span>
      <%= f.input_field :horse_power, placeholder: _("No engine? Uncheck!"), class: "form-control", min: 1 %>
      <span class="input-group-addon boat-input-group-addon">Hp</span>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= f.input :daily_price, wrapper: :vertical_input_group, required: false do %>
      <%= f.input_field :daily_price, placeholder: _("How much should a guest pay for a day on your boat?"), class: "form-control" %>
      <span class="input-group-addon boat-input-group-addon"><%= fa_icon 'eur' %></span>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <%= f.input :description,
                placeholder: _("Your guests will love to know more about your boat. Tell them something about it, what you use it for and what you love of your boat"),
                required: false %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= f.input :address,
                placeholder: _("Where is your boat moored? E.g. Molo Ponte Morosini, 46, Genoa"),
                required: false %>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">

    var initEngineField = function() {
      var hasEngineOrIsNew = <%= @boat.horse_power == nil || @boat.horse_power > 1 %>
      if (hasEngineOrIsNew) {
        $('#engine-presence').prop('checked', true);
      } else {
        $('#boat_horse_power').attr("readonly", "readonly").val("0");
        $('.boat_horse_power > label').text("<%= _('No Engine') %>");
      }
    };

    $(document).ready(function () {
      initEngineField();

      $('#pictures').on('click', 'a.remove_fields.existing', function(e){
        $(e.target).closest('.nested_fields').css('opacity',0.3);
        $(e.target).hide();
      });

      $('#engine-presence').on('change', function(){
        // Use 'readonly' instead of 'disable' because it keeps the val()
        if ($(this).is(':checked')) {
          $('#boat_horse_power').removeAttr("readonly").val("<%= @boat.horse_power %>");
          $('.boat_horse_power > label').text("<%= _('Engine Horse Power') %>");
        } else {
          $('#boat_horse_power').attr("readonly", "readonly").val("0");
          $('.boat_horse_power > label').text("<%= _('No Engine') %>");
        }
      });

      $('.boat_year .form-control').datetimepicker({
        viewMode: 'years',
        format: 'YYYY',
        minDate: moment().year(1900),
        maxDate: moment()
      });
    });
  </script>
<% end %>