<%= simple_form_for @boat, html: { :multipart => true } do |f| %>
  <% if @boat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>
      <% @boat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, required: false %>
  <%= f.input :manufacturer, required: false %>
  <%= f.input :daily_price, required: false %>
  <%= f.input :year, collection: 1900..Time.now.year, prompt: "Select the year", required: false %>
  <%= f.input :model, required: false %>
  <%= f.input :length, required: false %>
  <%= f.input :guest_capacity, required: false %>
  <%= f.association :boat_category, prompt: "Select the category", required: false %>
  <!-- Per la EDIT: mettere la lista delle pictures già esistenti, con il relativo "delete" -->
  <%= f.simple_fields_for :pictures do |pictures_form| %>
    <%= pictures_form.input :image, as: :file %>
  <% end %>
  <%= f.button :submit %>

  
<% end %>
