<%= simple_form_for @boat, html: { :multipart => true } do |f| %>
  <%= f.error_notification %>
  <% @boat.errors[:base].each do |error| %>
    <p><%= error %></p>
  <% end %>

  <h3>Details of your boat</h3>

  <%= f.input :name, required: false %>
  <%= f.input :manufacturer, required: false %>
  <%= f.input :daily_price, required: false %>
  <%= f.input :year, collection: 1900..Time.now.year, prompt: "Select the year", required: false %>
  <%= f.input :model, required: false %>
  <%= f.input :length, required: false %>
  <%= f.input :guest_capacity, required: false %>
  <%= f.association :boat_category, prompt: "Select the category", required: false %>

  <h3>Pictures</h3>
  <%= content_tag :p, @boat.errors[:pictures].join(', ') if @boat.errors[:pictures] %>
  <div id="pictures">
    <%= f.simple_fields_for :pictures do |pictures_form| %>
      <%= render 'picture_fields', f: pictures_form %>
    <% end %>
    <div class="links">
      <p><%= link_to_add_association "Add picture", f, :pictures %></p>
    </div>
  </div>

  <%= f.button :submit %>

<% end %>


<script type="text/javascript">
$('#pictures').on('click', 'a.remove_fields.existing', function(e){
  $(e.target).closest('.nested_fields').css('opacity',0.3);
  $(e.target).hide();
});
</script>