<!-- <form class="form-inline home-search">
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Porto di partenza">
      </div><button type="submit" class="btn btn-default">Cerca barca</button>
    </form> -->


<%= form_tag boats_path, method: :get, class: "form-inline search-form" do %>
  <%= content_tag :div, class: 'input-group' do %>
    <%= text_field_tag :search,
                       params[:search],
                       placeholder: _("Search"),
                       class: "form-control input-large",
                       id: 'boat-search-bar' %>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <%= fa_icon 'search', text: _('Search') %>
      </button>
    </span>
  <% end %>

  <%= hidden_field_tag :latitude, nil, id: 'search-latitude' %>
  <%= hidden_field_tag :longitude, nil, id: 'search-longitude' %>
<% end %>
<!-- <input type="text" name="boat-search" id="boat-search-bar"> -->

<%= content_for :scripts do %>
<script type="text/javascript">
(function () {
  'use strict';

  var input = document.getElementById('boat-search-bar');
  var options = {
    componentRestrictions: {
      country: 'it'
    },
    type: '(cities)', //in the future this will be the only supported param
    types: ['(cities)'] //supported only until Feb. 17 2017
  };

  var autocomplete = new google.maps.places.Autocomplete(input, options);
  autocomplete.addListener('place_changed', fillInLatLng);

  function fillInLatLng() {
    var place = autocomplete.getPlace();
    $('#boat-search-bar').val(place.name);
    $('#search-latitude').val(place.geometry.location.lat());
    $('#search-longitude').val(place.geometry.location.lng());
  };
})();
</script>
<% end %>
