<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<% unless @boat.complete? %>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 alert alert-warning">
						<p class="text-center">
							<small><%= _("This boat cannot be published yet. Fill all the fields and <strong>upload at least one picture</strong> to complete the boat's profile.").html_safe %></small>
						</p>
					</div>
				</div>
			<% end %>
			<%# Usage of wrappers:https://github.com/plataformatec/simple_form/wiki/How-to-use-Bootstrap-3-input-group-in-Simple-Form %>
			<h1><%= _('Edit Boat') %> <%= publish_boat_button(@boat) %></h1>
			<ul class="nav nav-pills">
        <li role="presentation" class="active">
          <a href="#boat_details" aria-controls="boat_details" role="tab" data-toggle="tab">
          	<%= fa_icon "list-ul" %> <span class="hidden-xs"><%= _("Boat details") %></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#boat_features" aria-controls="boat_features" role="tab" data-toggle="tab">
          	<%= fa_icon "check-square-o" %> <span class="hidden-xs"><%= _("Boat features") %></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#boat_calendar" aria-controls="boat_calendar" role="tab" data-toggle="tab">
          	<%= fa_icon "calendar-o" %> <span class="hidden-xs"><%= _("Boat Availability") %></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#boat_pictures" aria-controls="boat_pictures" role="tab" data-toggle="tab">
          	<%= fa_icon "camera-retro" %> <span class="hidden-xs"><%= _("Boat pictures") %></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#boat_danger_zone" aria-controls="boat_danger_zone" role="tab" data-toggle="tab">
          	<%= fa_icon "exclamation-circle" %> <span class="hidden-xs"><%= _("Danger Zone") %></span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="boat_details">
					<%= render 'boat_details_form' %>
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="boat_features">
					<%= render 'boat_features_form' %>
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="boat_calendar">
					<h3><%= _("Coming soon&hellip;").html_safe %></h3>
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="boat_pictures">
					<h3><%= _('Pictures of your boat') %></h3>
					<%= render 'pictures/fields' %>
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="boat_danger_zone">
					<h3><%= _("Be careful here...") %></h3>
					<p class="alert alert-danger" role="alert">
						<%= _("Tired of sharing your boat?") %>
						<br>
						<%= link_to _('Remove %{name} from SeaForAll') %{name: @boat.name},
													boat_path(@boat),
													method: :delete,
													:class => 'alert-link',
													data: { confirm: _('Are really you sure you want to delete %{name}?') %{name: @boat.name} } if can? :destroy, @boat %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<%= content_for :scripts do %>
<script type="text/javascript">
	$(document).ready(function() {
		$('#boat_details, #boat_features').find('form .saving').hide();
		$('#boat_details, #boat_features').on('change', function(){
			$(this).find('.saving').fadeIn();
			$(this).find('form').submit();
		});
	});
</script>
<% end %>