<% title s_("Title|Edit %{boat_name}") %{boat_name: name_or_boat_for(@boat)} %>
<% current_user_navbar active_bc_title: s_("Title|Edit %{boat_name}") %{boat_name: name_or_boat_for(@boat)} %>
<div class="container">
	<div class="boat-edit">
		<div class="col-md-10 col-md-offset-1">
			<div class="container-fluid white-box">
				
			<% unless @boat.can_be_published? %>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 alert alert-warning">
						<p class="text-center">
							<small><%= _("This boat cannot be published yet").html_safe %></small>
							<% unless @boat.complete? %>
								<br>
								<small><%= _("Fill all the fields and <strong>upload at least one picture</strong> to complete the boat's profile").html_safe %></small>
							<% end %>
							<% unless @boat.user.complete? %>
								<br>
								<small><%= (_("You have to %{complete_profile} before making this boat available") %{complete_profile: link_to(_("complete your profile"), edit_user_registration_path)}).html_safe %></small>
							<% end %>
						</p>
					</div>
				</div>
			<% end %>
			<%# Usage of wrappers:https://github.com/plataformatec/simple_form/wiki/How-to-use-Bootstrap-3-input-group-in-Simple-Form %>
			
      <%# when we load the page, if the boat has at least one pic (that can't be deleted) we don't show the message. Otherwise, we show it and in reload.js we hide it if a picture is added %>
      <% if @boat.pictures.empty? %>
        <p class="alert alert-danger" id="at_least_one_pic-notice">
          <%= _("You have to add at least one picture of your boat before publishing") %>
        </p>
      <% end %>
			<ul class="nav nav-pills">
        <li role="presentation" class="active">
          <a href="#boat_details" aria-controls="boat_details" role="tab" data-toggle="tab">
          	<%= fa_icon "list-ul" %> <span class="hidden-xs"><%= _("Boat details") %></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#boat_features" aria-controls="boat_features" role="tab" data-toggle="tab">
          	<%= fa_icon "check-square-o" %> <span class="hidden-xs"><%= _("Boat features") %></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#boat_pictures" aria-controls="boat_pictures" role="tab" data-toggle="tab">
          	<%= fa_icon "camera-retro" %> <span class="hidden-xs"><%= _("Boat pictures") %></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#boat_danger_zone" aria-controls="boat_danger_zone" role="tab" data-toggle="tab">
          	<%= fa_icon "frown-o" %> <span class="hidden-xs"><%= _("Delete boat") %></span>
          </a>
        </li>
        <%= publish_boat_button(@boat) %>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="boat_details">
					<%= render 'boat_details_form' %>
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="boat_features">
					<%= render 'boat_features_form' %>
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="boat_calendar">
					<h3><%= _("Coming soon&hellip;").html_safe %></h3>
					<p><%= _("Here you will find a nice calendar for setting the availability of your boat. We are currently working on it!") %></p>
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="boat_pictures">
					<h3><%= _('Pictures of your boat') %></h3>
					<%= render 'pictures/fields' %>
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="boat_danger_zone">
					<h3><%= _("If you leave now, we will miss you forever") %></h3>
					<!-- <p class="alert alert-danger" role="alert"> -->
						<p class="text-center"><%= inline_svg 'boat-launch', class: 'boat-launch' %></p>
						<hr>
						<% if @boat.bookings.pending.any? %>
							<p>
								<%=  _("You must accept or reject all the pending bookings of %{name} before removing it from Sea for All") %{name: @boat.name.blank? ? s_("Remove|this boat") : @boat.name} %>
							</p>
						<% else %>
							<p class="text-center">
								<%= _("Tired of sharing your boat?") %>
								<br>
								<%= link_to _("Remove %{name} from Sea for All") %{name: @boat.name.blank? ? s_("Remove|this boat") : @boat.name}, boat_path(@boat), method: :delete, class: 'btn btn-danger', data: { confirm: _('Are really you sure you want to delete %{name}?') %{name: @boat.name.blank? ? s_("Remove|this boat") : @boat.name} } if can? :destroy, @boat %>
							</p>
						<% end %>
					<!-- </p> -->
				</div>
			</div>
			</div>

		</div>
	</div>
</div>

<%= content_for :scripts do %>
<script type="text/javascript">
	$(document).ready(function() {
		$('#boat_details, #boat_features').find('form .saving').hide();
		$('#boat_details, #boat_features').on('change', function(){
			$(this).find('.saving').fadeIn();
			$(this).find('form').submit();
		});
	});
</script>
<% end %>