<div class="row">
  <div class="col-sm-12">
    <h1>A lot of boats - Ready for your perusal</h1>
  </div>
</div>

<div class="row">
  <% @boats.each do |boat| %>
    <div class="col-sm-3 boat-card">
      
      <%= link_to boat do %>
        <div>
          <div class="picture" style="background-image: url('<%= boat.pictures.first.image.url if boat.pictures.any? %>')">
          </div>
          <div class="caption">
            <p class="boat-owner">
              <%= image_tag(boat.user.image(:thumb), height: '25px') %>
              <%= boat.user.name %>
              <br>
              <%= fa_icon 'map-marker lg' %> <%= boat.address %>
            </p>
            <h3><%= boat.name %></h3>
            <p><%= boat.daily_price %> <%= _("€/day") %></p>
            <p>
              <%= link_to(_('Edit'), edit_boat_path(boat), class: 'btn btn-info') if can? :update, boat %>
            </p>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
