<p id="notice"><%= notice %></p>

<h1>Listing Boats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Daily price</th>
      <th>Year</th>
      <th>Model</th>
      <th>Length</th>
      <th>Guest capacity</th>
      <th>Boat category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boats.each do |boat| %>
      <tr>
        <td><%= link_to boat.name, boat %></td>
        <td><%= boat.manufacturer %></td>
        <td><%= boat.daily_price %></td>
        <td><%= boat.year %></td>
        <td><%= boat.model %></td>
        <td><%= boat.length %></td>
        <td><%= boat.guest_capacity %></td>
        <td><%= boat.boat_category %></td>
        <td><%= link_to 'Show', boat %></td>
        <td><%= link_to 'Edit', edit_boat_path(boat) %></td>
        <td><%= link_to 'Destroy', boat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boat', new_boat_path %>
