<div class="row">
  <div class="col-sm-12 centered">
    <h1>Dude, rent your boat NOW!</h1>
    <p><%= link_to 'Click here!!', new_boat_path, class: 'btn btn-success btn-lg' %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>A lot of boats - Ready for your perusal</h1>
  </div>
</div>

<div class="row">
  <% @boats.each do |boat| %>
    <div class="col-sm-3 boat-card">
      
      <%= link_to boat do %>
        <div>
          <div class="picture" style="background-image: url('<%= boat.pictures.first.image.url if boat.pictures.any? %>')">
          </div>
          <div class="caption">
            <p class="boat-owner">
              <%= image_tag(boat.user.image(:thumb), height: '20px') %>
              <%= boat.user.name %><br>
              <i style="width: 20px; text-align: center;" class="fa fa-map-marker"></i> <%= boat.user.location %>
            </p>
            <h3><%= boat.name %></h3>
            <p><%= boat.daily_price %> €/day</p>
            <p>
              <%= link_to('Edit', edit_boat_path(boat), class: 'btn btn-info') if can? :update, boat %> <%= link_to('Destroy', boat, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') if can? :destroy, boat %>
            </p>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
