

<h1>Listing Boats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Daily price</th>
      <th>Year</th>
      <th>Model</th>
      <th>Length</th>
      <th>Guest capacity</th>
      <th>Boat category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @boats.each do |boat| %>
      <tr>
        <td><%= link_to(boat.name, boat) if can? :read, boat %></td>
        <td><%= boat.manufacturer %></td>
        <td><%= boat.daily_price %></td>
        <td><%= boat.year %></td>
        <td><%= boat.model %></td>
        <td><%= boat.length %></td>
        <td><%= boat.guest_capacity %></td>
        <td><%= boat.boat_category %></td>
        <td><%= link_to('Edit', edit_boat_path(boat)) if can? :update, boat %></td>
        <td><%= link_to('Destroy', boat, method: :delete, data: { confirm: 'Are you sure?' }) if can? :destry, boat %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Rent your boat', new_boat_path %>
