<% title s_("Title|All the boats") %>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1 search-container">
    <%= render 'search' %>
    <% if @search_location %>
      <p class="text-center search-result-message">
        <% if @search_results_count > 0 %>
        <%= _('There are %{count} boats near %{place}') %{count: @search_results_count, place: @search_location} %>
        <% else %>
        <%= _('Sorry. There are no boats near %{place}... But there are more in other places (or start sharing yours).') %{place: @search_location} %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>

<div class="row">
	<% if @boats.any? %>
	  <% @boats.complete.each do |boat| %>
	    <%= render('boat_card', boat: boat) if boat.can_be_published? %>
	  <% end %>
	<% else %>
  	<div class="col-sm-10 col-sm-offset-1">
  		<p class="lead text-center">
  			<%= s_("BoatIndex|We are building our database of boats available for sharing.") %>
  			<br>
  			<%= s_("BoatIndex|This page will be full of awesome boats in the next few weeks.") %>
  		</p>
  		<p class="text-center">
  			<%= inline_svg 'boat-launch', class: 'boat-launch' %>
  		</p>
  	</div>
	<% end %>
</div>
