<% title s_("Title|All the boats") %>
<p class="text-center">
  <%= image_tag("mini-logo.png", height:"50px") %>
</p>
<div class="row boat-search-subtitle">
  <div class="col-sm-12">
    <p>
      <%= s_("All the boats will be available for renting soon") %>
    </p>
  </div>
</div>

<div class="row">
	<% if @boats.any? %>
	  <% @boats.complete.each do |boat| %>
	    <%= render 'boat_card', boat: boat %>
	  <% end %>
	<% else %>
	<div class="col-sm-10 col-sm-offset-1">
		<p class="lead text-center">
			<%= s_("BoatIndex|We are building our database of boats available for sharing.") %>
			<br>
			<%= s_("BoatIndex|This page will be full of awesome boats in the next few weeks.") %>
		</p>
		<p class="text-center">
			<%= inline_svg 'boat-launch', class: 'boat-launch' %>
		</p>
	</div>
	<% end %>
</div>
