<div class="row boat-hero">
  <% if can? :edit, @boat %>
    <div class="boat-management-buttons">
      <%= link_to _('Edit'), edit_boat_path(@boat), class: 'btn btn-primary' %>
      <%#= link_to _('See all Bookings'), boat_bookings_path(@boat), class: 'btn btn-primary' %>
    </div>
  <% end %>
  <div class="col-sm-12 carousel-container">
    <div id="boat-photos-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% @boat.pictures.each_with_index do |p,index| %>
          <div class="item <%= 'active' if index==0 %>">
            <%= image_tag p.image.url %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row boat-name-container">
      <div class="col-sm-12">
        <h1 class="boat-name"><%= @boat.name %></h1>
        <h2 class="boat-owner">
          <%= image_tag @boat.user.image(:thumb), class: 'user-avatar' %> <%= @boat.user.name %>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="row boat-body">
  <div class="col-sm-8 boat-info">

    <p><strong><%= @boat.address %></strong></p>

    <h2><%= _('Info') %></h2>

    <p><%= @boat.description %></p>

    <h2><%= _('Details') %></h2>

    <div class="row">
      <div class="col-sm-6">
        <p><strong><%= s_("Boat category") %>:</strong> <%= _(@boat.boat_category.name) %></p>
        <p><strong><%= s_("Boat|Manufacturer") %>:</strong> <%= @boat.manufacturer %></p>
        <p><strong><%= s_("Boat|Model") %>:</strong> <%= @boat.model %></p>
      </div>
      <div class="col-sm-6">
        <p><strong><%= s_("Boat|Length") %>:</strong> <%= @boat.length %> m</p>
        <p><strong><%= s_("Boat|Guest capacity") %>:</strong> <%= @boat.guest_capacity %></p>
      </div>
    </div>

    <h2><%= _('Features') %></h2>

    <div class="row">
      <div class="col-sm-6">
        <ul>
          <% @boat.features.each_with_index do |f,i| %>
            <% if i.even? %>
              <li><%= s_("BoatFeaturesSet|#{f.humanize}") %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul>
          <% @boat.features.each_with_index do |f,i| %>
            <% if i.odd? %>
              <li><%= s_("BoatFeaturesSet|#{f.humanize}") %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
  <div class="col-sm-4 boat-booking">
    <div class="row">
      <div class="col-sm-12 boat-price">
        <p id="price">
          <%= _("%{boat_price} €/day") %{ boat_price: @boat.daily_price } %><br>
        </p>
        <p id="rental-type">
          <%= _(@boat.rental_type) %>
        </p>
      </div>
    </div>
    <%# if can? :create, @boat.bookings.build %>
      <div class="row booking-form">
        <div class="col-sm-12 boat-booking">
<!--           <div class="coming-soon">
            <p>COMING SOON!</p>
          </div> -->
          <%= render 'bookings/form' %>
        </div>
      </div>
    <%# end %>
    <div class="row">
      <div class="col-sm-12 boat-map">
        <%=
          map(:center => {
            :latlng => [@boat.latitude, @boat.longitude],
            :zoom => 12
          },
          :markers => [
            {
              :latlng => [@boat.latitude, @boat.longitude],
              icon: {
                icon_url: image_path('sfa-pin.png'),
                icon_size: 42
              }
            }
          ])
        %>
      </div>
    </div>
  </div>
</div>
