<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @boat.manufacturer %>
</p>

<p>
  <strong>Daily price:</strong>
  <%= @boat.daily_price %>
</p>

<p>
  <strong>Year:</strong>
  <%= @boat.year %>
</p>

<p>
  <strong>Model:</strong>
  <%= @boat.model %>
</p>

<p>
  <strong>Length:</strong>
  <%= @boat.length %>
</p>

<p>
  <strong>Guest capacity:</strong>
  <%= @boat.guest_capacity %>
</p>

<p>
  <strong>Boat category:</strong>
  <%= @boat.boat_category %>
</p>

<p>
  <strong>Pictures:</strong>
  <br>
  <% @boat.pictures.each do |pic| %>
    <%= image_tag pic.image.url(:thumb) %>
    <%= pic.image_file_name %> |  
    <%= link_to "Delete", boat_picture_path(@boat, pic), method: :delete, data: {confirm: "Are you sure?"} %>
    <br>
  <% end %>
</p>

<%= render 'bookings/form' %>

<%= link_to 'See all Bookings', boat_bookings_path(@boat) %>
<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
