<div class="row boat-hero">
  <div class="col-sm-12 carousel-container">
    <div id="boat-photos-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% @boat.pictures.each_with_index do |p,index| %>
          <div class="item <%= 'active' if index==0 %>">
            <%= image_tag p.image.url %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row boat-name-container">
      <div class="col-sm-12">
        <h1 class="boat-name"><%= @boat.name %></h1>
        <h2 class="boat-owner">
          <%= image_tag @boat.user.image(:thumb), class: 'user-avatar' %> <%= @boat.user.name %>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 boat-info">

    <p><strong><%= @boat.address %></strong></p>

    <h2><%= _('Info') %></h2>

    <p><%= @boat.description %></p>

    <h2><%= _('Accessories') %></h2>

    <div class="row">
      <div class="col-sm-6">
        <ul>
          <% @boat.features.each_with_index do |f,i| %>
            <% if i.even? %>
              <li><%= _(f) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul>
          <% @boat.features.each_with_index do |f,i| %>
            <% if i.odd? %>
              <li><%= _(f) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <% if can? :edit, @boat %>
    <p>
      <%= link_to _('Edit'), edit_boat_path(@boat), class: 'btn btn-info' %>
      <%= link_to _('See all Bookings'), boat_bookings_path(@boat), class: 'btn btn-info' %>
    </p>
    <% end %>

<!--     <p>
      <strong>Manufacturer:</strong>
      <%= @boat.manufacturer %>
    </p>

    <p>
      <strong>Daily price:</strong>
      <%= @boat.daily_price %>
    </p>

    <p>
      <strong>Year:</strong>
      <%= @boat.year %>
    </p>

    <p>
      <strong>Model:</strong>
      <%= @boat.model %>
    </p>

    <p>
      <strong>Length:</strong>
      <%= @boat.length %>
    </p>

    <p>
      <strong>Guest capacity:</strong>
      <%= @boat.guest_capacity %>
    </p>

    <p>
      <strong>Boat category:</strong>
      <%= @boat.boat_category %>
    </p> -->

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render 'bookings/form' if can? :create, @booking %>
  </div>
</div>

