<div class="row boat-body">
  <%# Left Column %>
  <div class="col-sm-8 boat-info">
    <div class="row boat-hero">
      <% if can? :edit, @boat %>
        <div class="boat-management-buttons">
          <%= link_to _('Edit'), edit_boat_path(@boat), class: 'btn btn-primary btn-lg' %>
          <%#= link_to _('See all Bookings'), boat_bookings_path(@boat), class: 'btn btn-primary' %>
        </div>
      <% end %>
      <div class="col-sm-12 carousel-container">
        <div id="boat-photos-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <% @boat.pictures.each_with_index do |p,index| %>
              <div class="item <%= 'active' if index==0 %>">
                <%= image_tag p.image.url %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row boat-name-container">
          <div class="col-sm-12">
            <h1 class="boat-name"><%= @boat.model %></h1>
            <h2 class="boat-owner">
              <%= @boat.name %>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">    
        <p><strong><%= @boat.address %></strong></p>

        <p><%= @boat.description %></p>

        <hr>
      </div>
    </div>

    <h3><%= _('Details') %></h3>
    <div class="row">
      <div class="col-sm-6">
        <p>
          <strong><%= s_("Boat category") %>:</strong> <%= _(@boat.boat_category.name) %><br>
          <strong><%= s_("Boat|Manufacturer") %>:</strong> <%= @boat.manufacturer %><br>
          <strong><%= s_("Boat|Model") %>:</strong> <%= @boat.model %>
        </p>
      </div>
      <div class="col-sm-6">
        <p>
          <strong><%= s_("Boat|Length") %>:</strong> <%= @boat.length %> m<br>
          <strong><%= s_("Boat|Guest capacity") %>:</strong> <%= @boat.guest_capacity %>
        </p>
      </div>
    </div>

    <hr>

    <h3><%= _('Features') %></h3>

    <div class="row">
      <div class="col-sm-6">
        <ul class="boat-features">
          <% @boat.features.each_with_index do |f,i| %>
            <% if i.even? %>
              <li><%= fa_icon "check-square", text: s_("BoatFeaturesSet|#{f.humanize}") %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="boat-features">
          <% @boat.features.each_with_index do |f,i| %>
            <% if i.odd? %>
              <li><%= fa_icon "check-square", text: s_("BoatFeaturesSet|#{f.humanize}") %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
  <%# Right Column %>
  <div class="col-sm-4 boat-booking">
    <div class="row">
      <div class="col-sm-12 boat-price">
        <p id="price">
          <%= _("%{boat_price} €/day") %{ boat_price: @boat.daily_price } %><br>
        </p>
        <p id="rental-type">
          <%= _(@boat.rental_type) %>
        </p>
      </div>
    </div>
    <%# if can? :create, @boat.bookings.build %>
      <div class="row booking-form">
        <div class="col-sm-12 boat-booking">
          <div class="coming-soon">
            <p>COMING SOON!</p>
          </div>
          <%= render 'bookings/form' %>
        </div>
      </div>
    <%# end %>
    <div class="row">
      <div class="col-sm-12 boat-map">
        <%=
          map(:center => {
            :latlng => [@boat.latitude, @boat.longitude],
            :zoom => 12
          },
          :markers => [
            {
              :latlng => [@boat.latitude, @boat.longitude],
              icon: {
                icon_url: image_path('sfa-pin.png'),
                icon_size: 42
              }
            }
          ])
        %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 boat-owner">
        <h2><%= @boat.user.name %></h2>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag @boat.user.image.url(:medium), class: 'user-avatar' %>
          </div>
          <div class="col-sm-6">
            Troope altre info
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <small><%= @boat.user.bio %></small>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
