<% title @boat.name %>
<% if @boat.can_be_published? %>
  <%= content_for :fb_open_graph_tags do %>
    <!-- OpenGraph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content='<%= @boat.name %> - <%= @boat.model %> | Sea for All' />
    <meta property="og:description" content='<%= @boat.description.truncate(42) %>' />
    <meta property="og:image" content='<%= "http:#{@boat.pictures.first.image.url(:carousel_photo)}" %>' />
    <meta property="og:url" content='<%= request.url %>' />
  <% end %>
<% end %>
<div class="row boat-body">
  <%# Left Column %>
  <div class="col-sm-8 boat-info">
    <div class="row boat-hero">
      <% if can? :edit, @boat %>
        <div class="boat-management-buttons">
          <%= link_to fa_icon('list-ul fw'), boat_bookings_path(@boat), class: 'btn btn-primary btn-lg', title: s_("BoatMngtButtonTooltip|See all the bookings") %>
          <% if can? :create, @boat.days.build %>
            <%= link_to fa_icon('calendar fw'), boat_days_path(@boat), class: 'btn btn-primary btn-lg', title: s_("BoatMngtButtonTooltip|Availability Calendar") %>
          <% end %>
          <%= link_to fa_icon('pencil fw'), edit_boat_path(@boat), class: 'btn btn-primary btn-lg', title: s_("BoatMngtButtonTooltip|Edit Boat") %>
        </div>
      <% end %>
      <div class="col-sm-12 carousel-container">
        <!-- Start Carousel -->
        <%= render 'boats/carousel', boat: @boat %>
        <!-- End Carousel -->
        <div class="row boat-name-container">
          <div class="col-sm-12">
            <h1 class="boat-model">
              <% if @boat.model.present? %>
                <%= @boat.model %>
              <% else %>
                <%= s_("BoatMissingField|Model not set") %>
              <% end %>
            </h1>
            <h2 class="boat-name">
              <% if @boat.name.present? %>
                <%= @boat.name %>
              <% else %>
                <%= s_("BoatMissingField|Name not set") %>
              <% end %>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row boat-location">
      <div class="col-sm-12">
        <strong><%= fa_icon 'map-marker', text: @boat.address.present? ? @boat.address : s_("BoatMissingField|Address not set") %></strong>
      </div>
    </div>
    <div class="row boat-description">
      <div class="col-sm-12">
        <% if @boat.description.present? %>
          <%= @boat.description %>
        <% else %>
          <span class="incomplete-text">
            <%= (_("Your boat's description goes here. %{link_text} this boat to add a description.") %{link_text: link_to(_("Edit"), edit_boat_path(@boat))}).html_safe %>
          </span>
        <% end %>

        <hr>
      </div>
    </div>

    <h3><%= _('Details') %></h3>
    <div class="row">
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt><%= s_("Boat category") %></dt>
          <dd><%= _(@boat.boat_category.name) %></dd>
          <dt><%= s_("Boat|Model") %></dt>
          <dd><%= text_for @boat, :model %></dd>
          <dt><%= s_("Boat|Name") %></dt>
          <dd><%= text_for @boat, :name %></dd>
          <dt><%= s_("Boat|Manufacturer") %></dt>
          <dd><%= text_for @boat, :manufacturer %></dd>
          <dt><%= s_("Boat|Year") %></dt>
          <dd><%= text_for @boat, :year %></dd>
        </dl>
      </div>
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt><%= s_("Boat|Length") %> (m)</dt>
          <dd><%= text_for @boat, :length %></dd>
          <dt><%= s_("Boat|Guest capacity") %></dt>
          <dd><%= text_for @boat, :guest_capacity %></dd>
          <dt><%= s_("Boat|Fuel Type") %></dt>
          <dd><%= _(text_for @boat, :fuel_type) %></dd>
          <dt><%= s_("Boat|Horse power") %></dt>
          <dd><%= text_for @boat, :horse_power %></dd>
        </dl>
      </div>
    </div>

    <hr>

    <h3><%= _('Features') %></h3>

    <div class="row">
      <div class="col-sm-6">
        <ul class="boat-features">
          <% @boat.features.each_with_index do |f,i| %>
            <% if i.even? %>
              <li><%= fa_icon "check-square", text: s_("BoatFeaturesSet|#{f.humanize}") %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="boat-features">
          <% @boat.features.each_with_index do |f,i| %>
            <% if i.odd? %>
              <li><%= fa_icon "check-square", text: s_("BoatFeaturesSet|#{f.humanize}") %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
  <%# Right Column %>
  <div class="col-sm-4 boat-booking">
    <div class="row">
      <div class="col-sm-12 boat-price">
        <p id="price">
          <%= _("%{boat_price} €/day") %{ boat_price: @boat.daily_price } %><br>
        </p>
        <p id="rental-type">
          <%= _(@boat.rental_type) %>
        </p>
      </div>
    </div>
    <%# if can? :create, @boat.bookings.build %>
      <div class="row booking-form">
        <div class="col-sm-12 boat-booking">
          <%= render 'bookings/form' %>
        </div>
      </div>
    <%# end %>
    <%# Map Alert %>
    <%= render 'map_alert' if can? :edit, @boat %>
    <%# Map %>
    <div class="row">
      <div class="col-sm-12 boat-map" id="boat-map" data-latitude="<%= @boat.latitude %>" data-longitude="<%= @boat.longitude %>"></div>
    </div>
    <div class="row">
      <div class="col-sm-12 boat-owner">
        <h2><%= @boat.user.name %></h2>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag @boat.user.image.url(:medium), class: 'user-avatar' %>
          </div>
          <div class="col-md-6 col-sm-12 boat-owner-stats">
            <ul class="list-unstyled">
              <li>
                <%= time_ago_in_words(@boat.user.birthdate).capitalize if @boat.user.birthdate %>
              </li>
              <li>
                <%= _("Registered %{time} ago") %{time: time_ago_in_words(@boat.user.created_at)} %>
              </li>
              <li>
                <%= _("%{num} %{boat_pl} %{registered_pl}") %{num: @boat.user.boats.complete.count, boat_pl: n_("boat", "boats", @boat.user.boats.complete.count), registered_pl: n_("registered", "registered", @boat.user.boats.complete.count)} %>
              </li>
              <li>
                <%= _("No feedback yet") %>
              </li>
            </ul>
          </div>
        </div>
        <% unless @boat.user.bio.blank? %>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 boat-owner-bio">
            <span class="small">
              <%= fa_icon 'quote-left', class: 'fa-2x pull-left' %>
              <%= @boat.user.bio %>
              <%= fa_icon 'quote-right', class: 'fa-2x pull-right' %>
            </span>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    $('.boat-management-buttons > a').tooltip({
      placement: 'bottom',
      container: 'body'
    });
  </script>
<% end %>