<li class="dropdown">
  <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button', aria: { expanded: 'false' } do %>
    <%= fa_icon("anchor", text: _("My Bookings")) %>
    <span class="caret"></span>
  <% end %>
  <ul class="dropdown-menu bookings-dropdown" role="menu">
    <% Booking::STATES.each do |state| %>
      <% if current_user.bookings.send(state).any? or current_user.boat_bookings.send(state).any? %>
        <li role="presentation">
          <%= link_to my_bookings_path(anchor: state) do %>
            <%= booking_state_name state %>
            <span class="pull-right">
              <%= bookings_counter_badge current_user.boat_bookings.send(state).count, 'host' %>
              <%= bookings_counter_badge current_user.bookings.send(state).count, 'guest' %>
            </span>
          <% end %>
        </li>
      <% end %>
    <% end %>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><%= link_to _("All"), my_bookings_path %></li>
  </ul>
</li>