<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.png", :alt => "Logo", class: 'navbar-brand'), user_signed_in? ? boats_path : root_path %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to fa_icon("life-ring", text: _("Help")), page_path('help', locale: I18n.locale) %></li>
        <% if user_signed_in? %>
          <% if current_user.bookings.any? %>
            <%= render 'layouts/my_bookings_dropdown' %>
          <% end %>
          <%= render 'layouts/user_dropdown' %>
          <!-- <p class="navbar-text"><%#= image_tag current_user.image, class: 'user-avatar' %> <%#= current_user.first_name %></p> -->
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= button_to _('Register'), new_user_registration_path, method: :get, class: 'btn btn-success navbar-btn' %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>