<!DOCTYPE html>
<!-- Ciao, grazie di essere capitato qui. Ovviamente se leggi questo messaggio sei un developer o uno del settore. Vuoi conoscerci meglio? Magari collaborare? Scrivici a hello@seaforall.com -->
<html lang='<%= I18n.locale %>'>
<head>
  <%= render 'layouts/head', layout: 'application' %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <%= render 'cookies_eu/cookies_eu', link: page_path(id: 'cookies', locale: I18n.locale) %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= yield %>
      </div>
    </div>
  </div><!-- /.container -->

  <%= render 'layouts/messages' %>

  <%= yield :scripts %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center language-select">

          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <%= _("Change language") %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <% if I18n.locale == I18n.default_locale %>
                  <%= link_to "English", locale: :en %>
                <% else %>
                  <%= link_to "Italiano", locale: :it %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <br>
          <p class="text-center hidden-xs">
            Sea for All - Copyright 2015
          </p>
          <p class="text-center">hello@seaforall.com</p>
          <p class="text-center icons">
            <a href="https://twitter.com/seaforall">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/pages/Sea-for-All/368816339967609">
              <i class="fa fa-facebook-square"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
