<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
<head>
  <%= render 'layouts/head', layout: 'application' %>
</head>
<body>
  <%= render 'layouts/navbar' %>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= yield %>
      </div>
    </div>
  </div><!-- /.container -->

  <%= render 'layouts/messages' %>

  <%= yield :scripts %>

</body>
</html>
