<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head', layout: 'application' %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'cookies_eu/cookies_eu', link: page_path(id: 'cookies', locale: I18n.locale) %>
    <div class="container">
      <div class="row">
        <div id="help-text" class="col-sm-9">
          <%= yield %>
        </div>
        <div class="col-md-3 sidebar hidden-sm hidden-xs">
          <div id="affix" class="panel panel-info">
            <div class="panel-body">
              <ul>
                <!-- will be filled by js -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render 'layouts/footer' %>

    <!-- Toastr messages -->
    <%= render 'layouts/messages' %>

    <script type="text/javascript">
    $(document).on('turbolinks:load', function() {
      $('#affix').makeTocFor('#help-text');
    });
    </script>

    <%= yield :javascript %>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="js/jquery-2.0.2.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
  </body>
</html>