<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head', layout: 'landing' %>
  </head>
  <body>
    <%= render 'cookies_eu/cookies_eu', link: page_path(id: 'cookies', locale: I18n.locale) %>
    <%= yield %>
    
    <%= render 'layouts/footer' %>

    <!-- Toastr messages -->
    <%= render 'layouts/messages' %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="js/jquery-2.0.2.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->

    <%= yield :scripts %>
  </body>
</html>